openapi: 3.2.0
info:
  title: OpenAPI definition Menu Search Pass Through Controller API
  version: v0
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
tags:
- name: menu-search-pass-through-controller
paths:
  /incentivio-menu-service/search:
    post:
      tags:
      - menu-search-pass-through-controller
      operationId: search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTargetingParams'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSearchResponse'
      summary: Search
      x-summary-source: derived
  /incentivio-menu-service/search/locations:
    get:
      tags:
      - menu-search-pass-through-controller
      operationId: searchLocations
      parameters:
      - name: extTargetingId
        in: query
        required: true
        schema:
          type: string
      - name: productType
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ProductType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDetailResponse'
      summary: Search locations
      x-summary-source: derived
components:
  schemas:
    ItemType:
      type: string
      enum:
      - MAIN
      - MODIFIER
    TargetingLocationVariant:
      type: object
      properties:
        productTitle:
          type: string
        incentivioId:
          type: string
        externalId:
          type: string
        locationId:
          type: string
        locationName:
          type: string
        price:
          type: string
        status:
          type: string
        itemType:
          type: string
        productId:
          type: string
    Status:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
    ProductSearchResult:
      type: object
      properties:
        extTargetingId:
          type: string
        incentivioId:
          type: string
        externalId:
          type: string
        title:
          type: string
        productType:
          $ref: '#/components/schemas/ProductType'
        locationVariationCount:
          type: integer
          format: int32
        priceVariationCount:
          type: integer
          format: int32
    SearchTargetingParams:
      type: object
      properties:
        query:
          type: string
        productType:
          $ref: '#/components/schemas/ProductType'
        status:
          $ref: '#/components/schemas/Status'
        itemType:
          $ref: '#/components/schemas/ItemType'
        locationIds:
          type: array
          items:
            type: string
        limit:
          type: integer
          format: int32
        cursor:
          type: string
    ProductType:
      type: string
      enum:
      - ITEM
      - GROUP
      - MENU
    ProductSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ProductSearchResult'
        nextCursor:
          type: string
        hasMoreResults:
          type: boolean
    LocationDetailResponse:
      type: object
      properties:
        extTargetingId:
          type: string
        productType:
          $ref: '#/components/schemas/ProductType'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/TargetingLocationVariant'
