openapi: 3.2.0
info:
  title: OpenAPI definition Admin Controller API
  version: v0
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
tags:
- name: admin-controller
paths:
  /:
    put:
      tags:
      - admin-controller
      operationId: home_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Home 3
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: home_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Home 2
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: home_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Home 4
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: home_7
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Home 7
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: home_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Home 6
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: home_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Home 5
      x-summary-source: derived
  /incentivio-user-domain/**:
    get:
      tags:
      - admin-controller
      operationId: userDomain
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: User domain
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: userDomain_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: User domain 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: userDomain_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: User domain 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: userDomain_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: User domain 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: userDomain_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: User domain 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: userDomain_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: User domain 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: userDomain_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: User domain 4
      x-summary-source: derived
  /incentivio-surveys/**:
    get:
      tags:
      - admin-controller
      operationId: surveyDomain
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Survey domain
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: surveyDomain_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Survey domain 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: surveyDomain_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Survey domain 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: surveyDomain_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Survey domain 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: surveyDomain_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Survey domain 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: surveyDomain_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Survey domain 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: surveyDomain_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Survey domain 4
      x-summary-source: derived
  /incentivio-offers-domain/**:
    get:
      tags:
      - admin-controller
      operationId: offersDomain
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Offers domain
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: offersDomain_2
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Offers domain 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: offersDomain_1
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Offers domain 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: offersDomain_3
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Offers domain 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: offersDomain_6
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Offers domain 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: offersDomain_5
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Offers domain 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: offersDomain_4
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Offers domain 4
      x-summary-source: derived
  /incentivio-loyalty-domain/**:
    get:
      tags:
      - admin-controller
      operationId: loyaltyDomain
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Loyalty domain
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: loyaltyDomain_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Loyalty domain 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: loyaltyDomain_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Loyalty domain 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: loyaltyDomain_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Loyalty domain 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: loyaltyDomain_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Loyalty domain 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: loyaltyDomain_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Loyalty domain 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: loyaltyDomain_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Loyalty domain 4
      x-summary-source: derived
  /incentivio-connector-sms/**:
    get:
      tags:
      - admin-controller
      operationId: smsConnector
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Sms connector
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: smsConnector_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Sms connector 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: smsConnector_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Sms connector 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: smsConnector_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Sms connector 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: smsConnector_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Sms connector 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: smsConnector_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Sms connector 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: smsConnector_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Sms connector 4
      x-summary-source: derived
  /incentivio-connect-domain/**:
    get:
      tags:
      - admin-controller
      operationId: connectDomain
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Connect domain
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: connectDomain_2
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Connect domain 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: connectDomain_1
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Connect domain 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: connectDomain_3
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Connect domain 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: connectDomain_6
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Connect domain 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: connectDomain_5
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Connect domain 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: connectDomain_4
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Connect domain 4
      x-summary-source: derived
  /incentivio-client-domain/clients/*/checkinqrimage:
    get:
      tags:
      - admin-controller
      operationId: clientDomainQRCodes
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
      summary: Client domain QR codes
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: clientDomainQRCodes_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
      summary: Client domain QR codes 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: clientDomainQRCodes_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
      summary: Client domain QR codes 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: clientDomainQRCodes_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
      summary: Client domain QR codes 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: clientDomainQRCodes_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
      summary: Client domain QR codes 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: clientDomainQRCodes_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
      summary: Client domain QR codes 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: clientDomainQRCodes_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
      summary: Client domain QR codes 4
      x-summary-source: derived
  /incentivio-client-domain/**:
    get:
      tags:
      - admin-controller
      operationId: clientDomain
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Client domain
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: clientDomain_2
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Client domain 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: clientDomain_1
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Client domain 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: clientDomain_3
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Client domain 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: clientDomain_6
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Client domain 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: clientDomain_5
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Client domain 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: clientDomain_4
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
      summary: Client domain 4
      x-summary-source: derived
  /incentivio-analytics-service/**:
    get:
      tags:
      - admin-controller
      operationId: analyticsService
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Analytics service
      x-summary-source: derived
    put:
      tags:
      - admin-controller
      operationId: analyticsService_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Analytics service 2
      x-summary-source: derived
    post:
      tags:
      - admin-controller
      operationId: analyticsService_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Analytics service 1
      x-summary-source: derived
    delete:
      tags:
      - admin-controller
      operationId: analyticsService_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Analytics service 3
      x-summary-source: derived
    options:
      tags:
      - admin-controller
      operationId: analyticsService_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Analytics service 6
      x-summary-source: derived
    head:
      tags:
      - admin-controller
      operationId: analyticsService_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Analytics service 5
      x-summary-source: derived
    patch:
      tags:
      - admin-controller
      operationId: analyticsService_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Analytics service 4
      x-summary-source: derived
