openapi: 3.2.0
info:
  title: Incentivio Preset Order Controller API
  version: v0
  description: 'Operations tagged preset-order-controller across 2 of this provider''s published API definitions: incentivio-admin-api-openapi.yml, incentivio-mobile-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
- url: https://mobile.incentivio.com/incentivio-mobile-api
  description: Generated server url
tags:
- name: preset-order-controller
paths:
  /incentivio-ordering-service/clients/{clientid}/presetorder/{orderid}:
    get:
      tags:
      - preset-order-controller
      operationId: getPresetOrderConfig
      parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetPresetOrderConfigResponseDTO'
    put:
      tags:
      - preset-order-controller
      operationId: updatePresetOrderConfig
      parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePresetOrderConfigRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetPresetOrderConfigResponseDTO'
    delete:
      tags:
      - preset-order-controller
      operationId: deletePresetOrderConfig
      parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/clients/{clientid}/presetorder:
    get:
      tags:
      - preset-order-controller
      operationId: listPresetOrderConfig
      parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: sortby
        in: query
        required: false
        schema:
          type: string
          default: code
      - name: code
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListPresetOrderResponseWithPagingForAdminDTO'
    post:
      tags:
      - preset-order-controller
      operationId: createPresetOrderConfig
      parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePresetOrderConfigRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetPresetOrderConfigResponseDTO'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /presetorder/{code}:
    get:
      tags:
      - preset-order-controller
      operationId: getPresetOrder
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      - name: languagecode
        in: query
        required: false
        schema:
          type: string
      - name: inc-user-language
        in: header
        required: false
        schema:
          type: string
      - name: CLIENTID
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetOrderResponseDTO'
    servers:
    - url: https://mobile.incentivio.com/incentivio-mobile-api
      description: Generated server url
components:
  schemas:
    OrderType:
      type: string
      enum:
      - DELIVERY
      - PICKUP
    Charge:
      type: object
      properties:
        chargeId:
          type: string
        chargeName:
          type: string
        chargeDescription:
          type: string
        chargeType:
          $ref: '#/components/schemas/ChargeType'
        amount:
          type: integer
          format: int32
        percentage:
          type: number
          format: float
        taxable:
          type: boolean
        gratuity:
          type: boolean
        delivery:
          type: boolean
        orderApplied:
          type: integer
          format: int32
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/Tax'
    PagingDTO:
      type: object
      properties:
        total:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        currentPage:
          type: integer
          format: int32
    GetPresetOrderConfigResponseDTO:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        clientId:
          type: string
        locationId:
          type: string
        displayInfo:
          type: array
          items:
            $ref: '#/components/schemas/OrderConfigDisplayInfo'
          uniqueItems: true
        orderType:
          $ref: '#/components/schemas/OrderType'
        restrictionType:
          $ref: '#/components/schemas/OrderRestrictionType'
        dateSelectionMode:
          $ref: '#/components/schemas/DateSelectionMode'
        timeSelectionMode:
          $ref: '#/components/schemas/TimeSelectionMode'
        itemValidationMode:
          $ref: '#/components/schemas/ItemValidationMode'
        inheritChargesFromLocation:
          type: boolean
        displayPresetValueConfirmationPage:
          type: boolean
        deliveryInfo:
          $ref: '#/components/schemas/DeliveryInfo'
        requestedFulfillDate:
          type: string
          format: date
        requestedFulfillTime:
          type: string
        charges:
          type: array
          items:
            $ref: '#/components/schemas/Charge'
        items:
          type: array
          items:
            $ref: '#/components/schemas/AddOrderItemReqDTO'
        orderInstructions:
          type: string
    ChargeType:
      type: string
      enum:
      - OPEN
      - AMOUNT
      - PERCENTAGE
    ChargeRule:
      type: object
      properties:
        amount:
          type: integer
          format: int32
        operator:
          $ref: '#/components/schemas/Operator'
    OrderRestrictionType:
      type: string
      enum:
      - RESTRICTED_ORDER
      - REGULAR_ORDER
    Tax:
      type: object
      properties:
        taxId:
          type: string
        extTaxId:
          type: string
        taxDescription:
          type: string
        taxType:
          $ref: '#/components/schemas/ChargeType'
        amount:
          type: integer
          format: int32
        percentage:
          type: number
          format: float
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
        applicableEntity:
          $ref: '#/components/schemas/OrderEntity'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/ChargeRule'
    Operator:
      type: string
      enum:
      - EQ
      - LT
      - LTEQ
      - GT
      - GTE
    Address:
      type: object
      properties:
        street1:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        aptSuite:
          type: string
    ListPresetOrderResponseWithPagingForAdminDTO:
      type: object
      properties:
        presetOrderConfigResponseDTOs:
          type: array
          items:
            $ref: '#/components/schemas/GetPresetOrderConfigResponseDTO'
        paging:
          $ref: '#/components/schemas/PagingDTO'
    CreatePresetOrderConfigRequestDTO:
      type: object
      properties:
        code:
          type: string
          minLength: 1
        locationId:
          type: string
        displayInfo:
          type: array
          items:
            $ref: '#/components/schemas/OrderConfigDisplayInfo'
          uniqueItems: true
        orderType:
          $ref: '#/components/schemas/OrderType'
        restrictionType:
          $ref: '#/components/schemas/OrderRestrictionType'
        dateSelectionMode:
          $ref: '#/components/schemas/DateSelectionMode'
        timeSelectionMode:
          $ref: '#/components/schemas/TimeSelectionMode'
        itemValidationMode:
          $ref: '#/components/schemas/ItemValidationMode'
        inheritChargesFromLocation:
          type: boolean
        displayPresetValueConfirmationPage:
          type: boolean
        deliveryInfo:
          $ref: '#/components/schemas/DeliveryInfo'
        requestedFulfillDate:
          type: string
          format: date
        requestedFulfillTime:
          type: string
        charges:
          type: array
          items:
            $ref: '#/components/schemas/Charge'
        items:
          type: array
          items:
            $ref: '#/components/schemas/AddOrderItemReqDTO'
        orderInstructions:
          type: string
      required:
      - code
    ItemValidationMode:
      type: string
      enum:
      - NONE
      - BASE_ITEM
      - BASE_WITH_MODIFIERS
    OrderConfigDisplayInfo:
      type: object
      properties:
        languageCode:
          type: string
        description:
          type: string
        notEnoughPrepTimeErrorMessage:
          type: string
    DateSelectionMode:
      type: string
      enum:
      - FIXED
      - TODAY
      - USER_SELECT
    TimeSelectionMode:
      type: string
      enum:
      - ASAP
      - FIXED
      - USER_SELECT
    DeliveryInfo:
      type: object
      properties:
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        deliveryInstructions:
          type: string
    UpdatePresetOrderConfigRequestDTO:
      type: object
      properties:
        code:
          type: string
        locationId:
          type: string
        displayInfo:
          type: array
          items:
            $ref: '#/components/schemas/OrderConfigDisplayInfo'
          uniqueItems: true
        orderType:
          $ref: '#/components/schemas/OrderType'
        restrictionType:
          $ref: '#/components/schemas/OrderRestrictionType'
        dateSelectionMode:
          $ref: '#/components/schemas/DateSelectionMode'
        timeSelectionMode:
          $ref: '#/components/schemas/TimeSelectionMode'
        itemValidationMode:
          $ref: '#/components/schemas/ItemValidationMode'
        inheritChargesFromLocation:
          type: boolean
        displayPresetValueConfirmationPage:
          type: boolean
        deliveryInfo:
          $ref: '#/components/schemas/DeliveryInfo'
        requestedFulfillDate:
          type: string
          format: date
        requestedFulfillTime:
          type: string
        charges:
          type: array
          items:
            $ref: '#/components/schemas/Charge'
        items:
          type: array
          items:
            $ref: '#/components/schemas/AddOrderItemReqDTO'
        orderInstructions:
          type: string
      required:
      - code
    OrderEntity:
      type: string
      enum:
      - ORDER
      - ITEM
    AddOrderItemReqDTO:
      type: object
      properties:
        itemId:
          type: string
          minLength: 1
        quantity:
          type: integer
          format: int32
        note:
          type: string
        groupId:
          type: string
        discountIds:
          type: array
          items:
            type: string
        externalId:
          type: string
        itemInstructions:
          type: string
        catalogId:
          type: string
      required:
      - groupId
      - itemId
      - quantity
    Address_2:
      type: object
      properties:
        streetAddress1:
          type: string
        streetAddress2:
          type: string
        city:
          type: string
        postalCode:
          type: string
        region:
          type: string
        country:
          type: string
        aptSuite:
          type: string
    LocalTime:
      type: object
      properties:
        hour:
          type: integer
          format: int32
        minute:
          type: integer
          format: int32
        second:
          type: integer
          format: int32
        nano:
          type: integer
          format: int32
    Charge_2:
      type: object
      properties:
        chargeId:
          type: string
        chargeDescription:
          type: string
        chargeType:
          type: string
          enum:
          - OPEN
          - AMOUNT
          - PERCENTAGE
        amount:
          type: integer
          format: int32
        percentage:
          type: number
          format: float
        taxable:
          type: boolean
        gratuity:
          type: boolean
        delivery:
          type: boolean
    PresetOrderResponseDTO:
      type: object
      properties:
        presetOrderConfigId:
          type: string
        code:
          type: string
        clientId:
          type: string
        locationId:
          type: string
        description:
          type: string
        displayInfo:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/OrderConfigDisplayInfo'
        orderType:
          type: string
          enum:
          - DELIVERY
          - PICKUP
          - DINEIN
        restrictionType:
          type: string
          enum:
          - RESTRICTED_ORDER
          - REGULAR_ORDER
        dateSelectionMode:
          type: string
          enum:
          - TODAY
          - FIXED
          - USER_SELECT
        timeSelectionMode:
          type: string
          enum:
          - ASAP
          - FIXED
          - USER_SELECT
        itemValidationMode:
          type: string
          enum:
          - NONE
          - BASE_ITEM
          - BASE_WITH_MODIFIERS
        displayPresetValueConfirmationPage:
          type: boolean
        notEnoughPrepTimeErrorMessage:
          type: string
        deliveryInfo:
          $ref: '#/components/schemas/DeliveryInfo'
        requestedFulfillDate:
          type: string
          format: date
        requestedFulfillTime:
          $ref: '#/components/schemas/LocalTime'
        charges:
          type: array
          items:
            $ref: '#/components/schemas/Charge_2'
        items:
          type: array
          items:
            $ref: '#/components/schemas/AddOrderItemReqDTO_2'
        orderInstructions:
          type: string
    AddOrderItemReqDTO_2:
      required:
      - itemId
      - quantity
      type: object
      properties:
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
        catalogId:
          type: string
        discountIds:
          type: array
          items:
            type: string
        externalId:
          type: string
        groupId:
          type: string
        itemId:
          type: string
        itemInstructions:
          type: string
        note:
          type: string
        quantity:
          type: integer
          format: int32
x-refined-from:
- incentivio-admin-api-openapi.yml
- incentivio-mobile-api-openapi.yml
