openapi: 3.2.0
info:
  title: OpenAPI definition Passwordless Auth Controller API
  version: v0
servers:
- url: https://mobile.incentivio.com/incentivio-mobile-api
  description: Generated server url
tags:
- name: passwordless-auth-controller
paths:
  /useraccounts/{userId}/complete-profile:
    put:
      tags:
      - passwordless-auth-controller
      operationId: completeProfile
      parameters:
      - name: CLIENTID
        in: header
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePasswordlessProfileRequest'
        required: true
      responses:
        '200':
          description: OK
  /auth/init:
    post:
      tags:
      - passwordless-auth-controller
      operationId: authInit
      parameters:
      - name: CLIENTID
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthInitRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthInitResponse'
components:
  schemas:
    Address:
      type: object
      properties:
        streetAddress1:
          type: string
        streetAddress2:
          type: string
        city:
          type: string
        postalCode:
          type: string
        region:
          type: string
        country:
          type: string
        aptSuite:
          type: string
    CompletePasswordlessProfileRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        phoneNumber:
          type: string
        howAcquired:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
        gender:
          type: string
          enum:
          - MALE
          - FEMALE
        address:
          $ref: '#/components/schemas/Address'
        referralCode:
          type: string
        baseLanguagePreference:
          type: string
        extendedAttributes:
          type: object
          additionalProperties:
            type: string
    AuthInitRequest:
      type: object
      properties:
        identifier:
          type: string
        method:
          type: string
          enum:
          - MAGIC_LINK
          - SMS_OTP
    AuthInitResponse:
      type: object
      properties:
        destination:
          type: string
        method:
          type: string
          enum:
          - MAGIC_LINK
          - SMS_OTP
        expires_in:
          type: integer
          format: int32
        is_new_user:
          type: boolean
