openapi: 3.2.0
info:
  title: OpenAPI definition Payments Controller API
  version: v0
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
tags:
- name: payments-controller
paths:
  /incentivio-payments/disputes/*/upload:
    post:
      tags:
      - payments-controller
      operationId: uploadFileToStripe
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /incentivio-payments/**:
    get:
      tags:
      - payments-controller
      operationId: service
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
    put:
      tags:
      - payments-controller
      operationId: service_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
    post:
      tags:
      - payments-controller
      operationId: service_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
    delete:
      tags:
      - payments-controller
      operationId: service_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
    options:
      tags:
      - payments-controller
      operationId: service_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
    head:
      tags:
      - payments-controller
      operationId: service_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
    patch:
      tags:
      - payments-controller
      operationId: service_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
