openapi: 3.2.0
info:
  title: OpenAPI definition Sales Report Controller API
  version: v0
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
tags:
- name: sales-report-controller
paths:
  /incentivio-reports/clients/{clientId}/sales-by-pos-category:
    get:
      tags:
      - sales-report-controller
      operationId: retrieveSalesByPosCategoryReport
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
          default: '*'
      - name: storeIds
        in: query
        required: false
        schema:
          type: array
          default:
          - '*'
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesByPosCategoryReportDTO'
      summary: Retrieve sales by pos category report
      x-summary-source: derived
  /incentivio-reports/clients/{clientId}/sales-by-order-source:
    get:
      tags:
      - sales-report-controller
      operationId: retrieveSalesByOrderSourceReport
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
          default: '*'
      - name: storeIds
        in: query
        required: false
        schema:
          type: array
          default:
          - '*'
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesByOrderSourceReportDTO'
      summary: Retrieve sales by order source report
      x-summary-source: derived
  /incentivio-reports/clients/{clientId}/sales-by-location:
    get:
      tags:
      - sales-report-controller
      operationId: retrieveSalesByLocationReport
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
          default: '*'
      - name: storeIds
        in: query
        required: false
        schema:
          type: array
          default:
          - '*'
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesByLocationReportDTO'
      summary: Retrieve sales by location report
      x-summary-source: derived
  /incentivio-reports/clients/{clientId}/previous-month/sales-by-location:
    get:
      tags:
      - sales-report-controller
      operationId: retrieveSalesByLocationForPreviousMonthReport
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SalesByLocationForPreviousMonthReportDTO'
      summary: Retrieve sales by location for previous month report
      x-summary-source: derived
components:
  schemas:
    SalesByLocationReportDTO:
      type: object
      properties:
        locationName:
          type: string
        salesByDateList:
          type: array
          items:
            $ref: '#/components/schemas/SalesByDateDTO'
    SalesByLocationForPreviousMonthReportDTO:
      type: object
      properties:
        totalSales:
          type: number
        comparedToPreviousMonthPercentage:
          type: string
    SalesByOrderSourceReportDTO:
      type: object
      properties:
        orderSource:
          type: string
        salesByDateList:
          type: array
          items:
            $ref: '#/components/schemas/SalesByDateDTO'
    SalesByDateDTO:
      type: object
      properties:
        storeDate:
          type: string
          format: date-time
        sales:
          type: number
          format: double
    SalesByPosCategoryReportDTO:
      type: object
      properties:
        posCategory:
          type: string
        salesByDateList:
          type: array
          items:
            $ref: '#/components/schemas/SalesByDateDTO'
