openapi: 3.2.0
info:
  title: OpenAPI definition Refunds Controller API
  version: v0
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
tags:
- name: refunds-controller
paths:
  /payments/transactions/refund:
    post:
      tags:
      - refunds-controller
      operationId: refundTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundTransactionRequest'
        required: true
      responses:
        '200':
          description: OK
  /incentivio-ordering-service/orders/reversepayment:
    post:
      tags:
      - refunds-controller
      operationId: refundOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundOrderRequest'
        required: true
      responses:
        '200':
          description: OK
components:
  schemas:
    RefundTransactionRequest:
      type: object
      properties:
        adminUserId:
          type: string
        automaticReversal:
          type: boolean
        emailReceipt:
          type: boolean
        isPartialRefund:
          type: boolean
        refundAmount:
          type: integer
          format: int32
        refundReason:
          type: string
          minLength: 1
        requestedBy:
          type: string
        type:
          type: string
          minLength: 1
        orderId:
          type: string
        giftcardTransactionId:
          type: string
        extPaymentTransactionId:
          type: string
      required:
      - isPartialRefund
      - refundReason
      - type
    RefundOrderRequest:
      type: object
      properties:
        adminUserId:
          type: string
        automaticReversal:
          type: boolean
        emailReceipt:
          type: boolean
        isPartialRefund:
          type: boolean
        refundAmount:
          type: integer
          format: int32
        refundReason:
          type: string
          minLength: 1
        requestedBy:
          type: string
        orderId:
          type: string
        extPaymentTransactionId:
          type: string
      required:
      - isPartialRefund
      - orderId
      - refundReason
