openapi: 3.2.0
info:
  title: Incentivio Order Controller API
  version: v0
  description: 'Operations tagged order-controller across 2 of this provider''s published API definitions: incentivio-admin-api-openapi.yml, incentivio-mobile-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
- url: https://mobile.incentivio.com/incentivio-mobile-api
  description: Generated server url
tags:
- name: order-controller
paths:
  /incentivio-ordering-service/orders/{orderid}/auditevents/{eventid}:
    put:
      tags:
      - order-controller
      operationId: updateAuditEvent
      parameters:
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      - name: eventid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAuditEventRequestDTO'
        required: true
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/catalogs:
    put:
      tags:
      - order-controller
      operationId: addOrUpdateCatalog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCatalogRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateCatalogResponseDTO'
    patch:
      tags:
      - order-controller
      operationId: patchCatalogs
      parameters:
      - name: storeId
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/searchadminorders/receivedorders/5min:
    post:
      tags:
      - order-controller
      operationId: adminOrdersForLastFiveMins
      parameters:
      - name: storeIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/orders/{orderid}/notifications:
    get:
      tags:
      - order-controller
      operationId: getOrderNotifications
      parameters:
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      - name: Inc-Client-Id
        in: header
        required: false
        schema:
          type: string
      - name: Inc-Location-Id
        in: header
        required: false
        schema:
          type: string
      - name: Inc-Admin-Id
        in: header
        required: false
        schema:
          type: string
      - name: clientId
        in: header
        required: false
        deprecated: true
        schema:
          type: string
      - name: LOCATION_ID
        in: header
        required: false
        deprecated: true
        schema:
          type: string
      - name: ADMIN_ID
        in: header
        required: false
        deprecated: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderNotificationMessageResponseDTO'
    post:
      tags:
      - order-controller
      operationId: sendOrderNotification
      parameters:
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      - name: Inc-Client-Id
        in: header
        required: false
        schema:
          type: string
      - name: Inc-Location-Id
        in: header
        required: false
        schema:
          type: string
      - name: Inc-Admin-Id
        in: header
        required: false
        schema:
          type: string
      - name: clientId
        in: header
        required: false
        deprecated: true
        schema:
          type: string
      - name: LOCATION_ID
        in: header
        required: false
        deprecated: true
        schema:
          type: string
      - name: ADMIN_ID
        in: header
        required: false
        deprecated: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrderNotificationRequestDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/OrderNotificationRequestDTO'
        required: true
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/orders/{orderId}/cancel:
    post:
      tags:
      - order-controller
      operationId: cancelOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/daily-sales-export:
    post:
      tags:
      - order-controller
      operationId: exportDailySalesReportForAdmin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DailySalesReportExportRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DailySalesReportExportResponseDTO'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/catalogs/list:
    post:
      tags:
      - order-controller
      operationId: listCatalogsByClientIdAndStoreIdsForAdmin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogSearchRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListCatalogResponseWithPagingForAdminDTO'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/catalogs/delete:
    post:
      tags:
      - order-controller
      operationId: deleteCatalogs
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/cachecatalogs_OLD:
    post:
      tags:
      - order-controller
      operationId: addCacheCatalog_OLD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCacheCatalogRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListCatalogAdminDTO'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/cachecatalogs:
    post:
      tags:
      - order-controller
      operationId: cacheCatalog
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCacheCatalogRequestDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCacheCatalogRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogCacheResponse'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/orders/{orderId}:
    patch:
      tags:
      - order-controller
      operationId: patchOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PatchRequestDTO'
        required: true
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/searchadminorders:
    get:
      tags:
      - order-controller
      operationId: searchOrdersForAdmin
      parameters:
      - name: firstname
        in: query
        required: false
        schema:
          type: string
      - name: lastname
        in: query
        required: false
        schema:
          type: string
      - name: phone
        in: query
        required: false
        schema:
          type: string
      - name: orderid
        in: query
        required: false
        schema:
          type: string
      - name: extorderid
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 300
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: orderStatus
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OrderStatus'
      - name: fulfillmentStatus
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/FulfillmentStatus'
      - name: sort
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/OrderSort'
      - name: sortby
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/OrderSortBy'
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: storeIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchOrdersResponseDTOWithPagingForAdmin'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/orderscount:
    get:
      tags:
      - order-controller
      operationId: getOrdersCount
      parameters:
      - name: firstname
        in: query
        required: false
        schema:
          type: string
      - name: lastname
        in: query
        required: false
        schema:
          type: string
      - name: phone
        in: query
        required: false
        schema:
          type: string
      - name: orderid
        in: query
        required: false
        schema:
          type: string
      - name: extorderid
        in: query
        required: false
        schema:
          type: string
      - name: orderStatus
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OrderStatus'
      - name: fulfillmentStatus
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/FulfillmentStatus'
      - name: storeIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: integer
                format: int32
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/orders/{orderid}/sendreceipt:
    get:
      tags:
      - order-controller
      operationId: sendOrderReceipt
      parameters:
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/imhereorderscount:
    get:
      tags:
      - order-controller
      operationId: getImHereOrdersCount
      parameters:
      - name: firstname
        in: query
        required: false
        schema:
          type: string
      - name: lastname
        in: query
        required: false
        schema:
          type: string
      - name: phone
        in: query
        required: false
        schema:
          type: string
      - name: orderid
        in: query
        required: false
        schema:
          type: string
      - name: extorderid
        in: query
        required: false
        schema:
          type: string
      - name: orderStatus
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OrderStatus'
      - name: fulfillmentStatus
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/FulfillmentStatus'
      - name: storeIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersCountResponseDTO'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/dailyadminorders:
    get:
      tags:
      - order-controller
      operationId: dailyOrdersForAdmin
      parameters:
      - name: merchantId
        in: query
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: filterModes
        in: query
        required: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OrderFilteringMode'
      - name: count
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 300
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: storeIds
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DailyOrdersResponseDTOWithPagingForAdmin'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/dailyadminorders/downloadcsv:
    get:
      tags:
      - order-controller
      operationId: downloadDailyOrdersForCSVExport
      parameters:
      - name: merchantId
        in: query
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: filterModes
        in: query
        required: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OrderFilteringMode'
      - name: storeIds
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/clients/{clientid}/poolaccount:
    get:
      tags:
      - order-controller
      operationId: getPoolAccountTimeZone
      parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/adminorders/{orderid}:
    get:
      tags:
      - order-controller
      operationId: viewOrderByIdForAdmin
      parameters:
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewOrderResponseDTOForAdmin'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/admincatalogs:
    get:
      tags:
      - order-controller
      operationId: listCatalogsByClientIdAndStoreIdsForAdmin_1
      parameters:
      - name: title
        in: query
        required: false
        schema:
          type: string
      - name: incentivioIds
        in: query
        required: false
        schema:
          type: string
      - name: externalIds
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 300
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: storeIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListCatalogResponseWithPagingForAdminDTO'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/admincatalogs/{catalogid}:
    get:
      tags:
      - order-controller
      operationId: viewCatalogByIdForAdmin
      parameters:
      - name: catalogid
        in: path
        required: true
        schema:
          type: string
      - name: includeStores
        in: query
        required: false
        schema:
          type: boolean
      - name: includeChildElements
        in: query
        required: false
        schema:
          type: string
      - name: compressed
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewCatalogAdminDTO'
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /incentivio-ordering-service/catalogs/{catalogid}:
    delete:
      tags:
      - order-controller
      operationId: deleteCatalog
      parameters:
      - name: catalogid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
  /orders:
    get:
      tags:
      - order-controller
      operationId: listOrders
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: string
      - name: phone
        in: query
        required: false
        schema:
          type: string
      - name: email
        in: query
        required: false
        schema:
          type: string
      - name: customerId
        in: query
        required: false
        schema:
          type: string
      - name: extCustomerId
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - CLOSED
          - CANCELED
          - SYNC_PENDING
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListOrderResponseDTO'
    put:
      tags:
      - order-controller
      operationId: addOrUpdateOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateOrderResponseDTO'
    servers:
    - url: https://mobile.incentivio.com/incentivio-mobile-api
      description: Generated server url
  /orders/{orderid}/copyorder:
    post:
      tags:
      - order-controller
      operationId: validateOrderRecreation
      parameters:
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewOrderResponseDTO'
    servers:
    - url: https://mobile.incentivio.com/incentivio-mobile-api
      description: Generated server url
  /orders/{orderid}:
    get:
      tags:
      - order-controller
      operationId: viewOrderById
      parameters:
      - name: orderid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewOrderResponseDTO'
    servers:
    - url: https://mobile.incentivio.com/incentivio-mobile-api
      description: Generated server url
  /orders-history:
    get:
      tags:
      - order-controller
      operationId: listOrdersHistory
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: count
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: imhereeligible
        in: query
        required: false
        schema:
          type: boolean
      - name: orderFulfillTime
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: langCode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderHistoryResponseWithPagingDTO'
    servers:
    - url: https://mobile.incentivio.com/incentivio-mobile-api
      description: Generated server url
components:
  schemas:
    CreateCacheCatalogRequestDTO:
      type: object
      properties:
        clientId:
          type: string
          minLength: 1
        localDateTime:
          type: string
          format: date-time
        storeIds:
          type: array
          items:
            type: string
          minItems: 1
        userId:
          type: string
        requestId:
          type: string
      required:
      - clientId
      - storeIds
    OrderCharge:
      type: object
      properties:
        chargeId:
          type: string
        chargeName:
          type: string
        chargeDescription:
          type: string
        taxable:
          type: boolean
        gratuity:
          type: boolean
        delivery:
          type: boolean
        chargeApplied:
          type: integer
          format: int32
        chargeAppliedWithTax:
          type: number
          format: float
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/Tax'
    Refund:
      type: object
      properties:
        refundAmount:
          type: integer
          format: int32
        tipRefundAmount:
          type: integer
          format: int32
        refundDate:
          type: string
          format: date-time
        refundBusinessDate:
          type: string
          format: date
    ViewItemAdminDTO:
      type: object
      properties:
        clientId:
          type: string
        merchantId:
          type: string
        externalId:
          type: string
        extTargetingId:
          type: string
        title:
          type: string
        createdDate:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        startDate:
          type: string
        endDate:
          type: string
        displayRank:
          type: integer
          format: int32
        displayInfo:
          type: array
          items:
            $ref: '#/components/schemas/DisplayInfo'
        status:
          type: string
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
        extendedAttributes:
          type: object
          additionalProperties:
            type: string
        privateAttributes:
          type: object
          additionalProperties:
            type: string
        storeIds:
          type: array
          items:
            type: string
        storeInfos:
          type: array
          items:
            $ref: '#/components/schemas/StoreInfo'
        originalTitle:
          type: string
        itemId:
          type: string
        price:
          type: integer
          format: int32
        unformattedPrice:
          type: number
        unformattedPriceWithTax:
          type: number
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/Discount'
        optionGroups:
          type: array
          items:
            $ref: '#/components/schemas/ViewGroupAdminDTO'
        optionGroupIds:
          type: array
          items:
            type: string
        optionGroupSettings:
          type: array
          items:
            $ref: '#/components/schemas/OptionGroupSettingDTO'
          uniqueItems: true
        uom:
          type: string
        sku:
          type: string
        upc:
          type: string
        brandId:
          type: string
        categoryId:
          type: string
        maxItemSelections:
          type: integer
          format: int32
        maxQuantity:
          type: integer
          format: int32
        minQuantity:
          type: integer
          format: int32
        inheritParentOptions:
          type: boolean
        invertParentTaxable:
          type: boolean
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/TaxInfoDTO'
        outOfStock:
          type: boolean
        outOfStockToday:
          type: boolean
        orderingChannels:
          type: array
          items:
            $ref: '#/components/schemas/OrderingChannels'
        itemType:
          $ref: '#/components/schemas/ItemType'
        taxable:
          type: boolean
      required:
      - clientId
      - merchantId
      - title
    PermissionDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        permission:
          type: string
        description:
          type: string
        moduleID:
          type: integer
          format: int64
        active:
          type: boolean
        deleted:
          type: boolean
    DisplayInfo:
      type: object
      properties:
        langCode:
          type: string
        title:
          type: string
        shortDescription:
          type: string
        longDescription:
          type: string
        smallImage:
          type: array
          items:
            type: string
        mediumImage:
          type: array
          items:
            type: string
    GroupType:
      type: string
      enum:
      - OPTION_GROUP
      - CATALOG_GROUP
    Address:
      type: object
      properties:
        street1:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        aptSuite:
          type: string
    ClientAuthorization:
      type: object
      properties:
        all:
          type: boolean
        id:
          type: string
        merchants:
          type: array
          items:
            $ref: '#/components/schemas/MerchantAuthorization'
          uniqueItems: true
      required:
      - all
      - id
      - merchants
    OrderItem:
      type: object
      properties:
        orderItemId:
          type: string
        itemId:
          type: string
        extItemId:
          type: string
        itemName:
          type: string
        displayName:
          type: string
        instructions:
          type: string
        sku:
          type: string
        upc:
          type: string
        catalogId:
          type: string
        extCatalogId:
          type: string
        groupId:
          type: string
        extGroupId:
          type: string
        brandId:
          type: string
        extBrandId:
          type: string
        categoryId:
          type: string
        extCategoryId:
          type: string
        uom:
          type: string
        unitPrice:
          type: integer
          format: int32
        quantity:
          type: integer
          format: int32
        appliedDiscounts:
          type: array
          items:
            $ref: '#/components/schemas/AppliedDiscount'
        appliedTax:
          type: array
          items:
            $ref: '#/components/schemas/AppliedTax'
        preDiscountItemTotal:
          type: integer
          format: int32
        dicountTotal:
          type: integer
          format: int32
        taxTotal:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
        voided:
          type: boolean
        voidInfo:
          $ref: '#/components/schemas/VoidInfo'
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        notes:
          type: string
    TaxSummary:
      type: object
      properties:
        totalTaxes:
          type: integer
          format: int32
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/OrderTax'
    OrderEntity:
      type: string
      enum:
      - ORDER
      - ITEM
    Payment:
      type: object
      properties:
        amount:
          type: integer
          format: int32
        gratuity:
          type: integer
          format: int32
        tenderType:
          type: string
        cardType:
          type: string
        last4:
          type: string
        paymentStatus:
          type: string
        voided:
          type: boolean
        voidInfo:
          $ref: '#/components/schemas/VoidInfo'
        refundStatus:
          type: string
        refund:
          $ref: '#/components/schemas/Refund'
    SearchCustomerDTO:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        email:
          type: string
    Check:
      type: object
      properties:
        checkId:
          type: string
        openedDate:
          type: string
          format: date-time
        closedDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        deletedDate:
          type: string
          format: date-time
        deleted:
          type: boolean
        displayNumber:
          type: string
        orderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        appliedCharges:
          type: array
          items:
            $ref: '#/components/schemas/AppliedCharge'
        appliedDiscounts:
          type: array
          items:
            $ref: '#/components/schemas/AppliedDiscount'
        total:
          $ref: '#/components/schemas/Total'
        paymentStatus:
          type: string
        voided:
          type: boolean
        voidInfo:
          $ref: '#/components/schemas/VoidInfo'
        customer:
          $ref: '#/components/schemas/Customer'
        loyaltyStatus:
          $ref: '#/components/schemas/LoyaltyStatus'
        loyaltyStatusModifiedTime:
          type: string
          format: date-time
        loyaltyUnSuccessfulReason:
          $ref: '#/components/schemas/LoyaltyUnSuccessfulReason'
        loyaltyUnSuccessfulAdditionalInfo:
          type: string
        customerResolved:
          type: boolean
    DailyOrdersResponseDTOForAdmin:
      type: object
      properties:
        orderId:
          type: string
        clientId:
          type: string
        merchantId:
          type: string
        locationId:
          type: string
        extOrderId:
          type: string
        customer:
          $ref: '#/components/schemas/SearchCustomerDTO'
        createdDate:
          type: string
        localCreatedDate:
          type: string
        updatedDate:
          type: string
        orderTotal:
          $ref: '#/components/schemas/OrderTotalDTO'
        orderFulfillTime:
          type: string
          format: date-time
        closedTime:
          type: string
          format: date-time
        localClosedTime:
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        locationName:
          type: string
        orderGoodStanding:
          type: boolean
        orderGoodStandingStatusDescription:
          type: string
        offerRedeemStatusInGoodStanding:
          type: boolean
        offerRedeemStatusInGoodStandingDescription:
          type: string
        interventionRequired:
          type: boolean
        orderSource:
          $ref: '#/components/schemas/OrderSource'
        filterStatus:
          $ref: '#/components/schemas/OrderFilteringMode'
    RefundSummary:
      type: object
      properties:
        totalRefundAmount:
          type: integer
          format: int32
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/OrderRefund'
    ViewCatalogAdminDTO:
      type: object
      properties:
        clientId:
          type: string
        merchantId:
          type: string
        externalId:
          type: string
        extTargetingId:
          type: string
        title:
          type: string
        createdDate:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        startDate:
          type: string
        endDate:
          type: string
        displayRank:
          type: integer
          format: int32
        displayInfo:
          type: array
          items:
            $ref: '#/components/schemas/DisplayInfo'
        status:
          type: string
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
        extendedAttributes:
          type: object
          additionalProperties:
            type: string
        privateAttributes:
          type: object
          additionalProperties:
            type: string
        storeIds:
          type: array
          items:
            type: string
        storeInfos:
          type: array
          items:
            $ref: '#/components/schemas/StoreInfo'
        originalTitle:
          type: string
        catalogId:
          type: string
        catalogIntegrationType:
          $ref: '#/components/schemas/CatalogIntegrationType'
        compressedCatalogJson:
          type: string
        groupIds:
          type: array
          items:
            type: string
        groups:
          type: array
          items:
            $ref: '#/components/schemas/ViewGroupAdminDTO'
        lastPublished:
          type: string
          format: date-time
        stores:
          type: array
          items:
            $ref: '#/components/schemas/StoreInfo'
      required:
      - clientId
      - merchantId
      - title
    PagingDTO:
      type: object
      properties:
        total:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        currentPage:
          type: integer
          format: int32
    OrderSortBy:
      type: string
      enum:
      - ORDER_FULFILL_TIME
      - UPDATED_DATE
    ChargeType:
      type: string
      enum:
      - OPEN
      - AMOUNT
      - PERCENTAGE
    Direction:
      type: string
      enum:
      - ASC
      - DESC
    Operation:
      type: string
      enum:
      - TEST
      - REMOVE
      - ADD
      - REPLACE
      - MOVE
      - COPY
    ViewOrderResponseDTOForAdmin:
      type: object
      properties:
        orderId:
          type: string
        clientId:
          type: string
        merchantId:
          type: string
        locationId:
          type: string
        extOrderId:
          type: string
        orderName:
          type: string
        orderNumber:
          type: string
        orderType:
          $ref: '#/components/schemas/OrderType'
        customer:
          $ref: '#/components/schemas/Customer'
        guestCount:
          type: integer
          format: int32
        tableId:
          type: string
        tableNumber:
          type: string
        delivery:
          $ref: '#/components/schemas/DeliveryInfo'
        openedTime:
          type: string
        closedTime:
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        orderNote:
          type: string
        orderFulfillTime:
          type: string
          format: date-time
        revenueCenter:
          type: string
        createdDate:
          type: string
        updatedDate:
          type: string
        orderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
          uniqueItems: true
        orderDiscounts:
          type: array
          items:
            $ref: '#/components/schemas/OrderDiscount'
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
        checks:
          type: array
          items:
            $ref: '#/components/schemas/Check'
        orderTotal:
          $ref: '#/components/schemas/OrderTotal'
        itemsCountDetails:
          $ref: '#/components/schemas/ItemsCountDTO'
        fulfillmentStatus:
          $ref: '#/components/schemas/FulfillmentStatus'
        orderSource:
          $ref: '#/components/schemas/OrderSource'
        auditEvents:
          type: array
          items:
            $ref: '#/components/schemas/AuditEventDTO'
        orderOptionName:
          type: string
        trackingUrl:
          type: string
    CatalogCacheProgressStatus:
      type: string
      enum:
      - IN_PROGRESS
      - FAILED
      - COMPLETED
    ViewGroupAdminDTO:
      type: object
      properties:
        clientId:
          type: string
        merchantId:
          type: string
        externalId:
          type: string
        extTargetingId:
          type: string
        title:
          type: string
        createdDate:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        startDate:
          type: string
        endDate:
          type: string
        displayRank:
          type: integer
          format: int32
        displayInfo:
          type: array
          items:
            $ref: '#/components/schemas/DisplayInfo'
        status:
          type: string
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
        extendedAttributes:
          type: object
          additionalProperties:
            type: string
        privateAttributes:
          type: object
          additionalProperties:
            type: string
        storeIds:
          type: array
          items:
            type: string
        storeInfos:
          type: array
          items:
            $ref: '#/components/schemas/StoreInfo'
        originalTitle:
          type: string
        groupId:
          type: string
        groupType:
          $ref: '#/components/schemas/GroupType'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ViewItemAdminDTO'
        itemIds:
          type: array
          items:
            type: string
        defaultSelectedItems:
          type: array
          items:
            type: string
        defaultSelectedItemObjects:
          type: array
          items:
            $ref: '#/components/schemas/ViewItemAdminDTO'
        mandatoryItems:
          type: array
          items:
            type: string
        mandatoryItemObjects:
          type: array
          items:
            $ref: '#/components/schemas/ViewItemAdminDTO'
        optionGroups:
          type: array
          items:
            $ref: '#/components/schemas/ViewGroupAdminDTO'
        optionGroupSetting:
          $ref: '#/components/schemas/OptionGroupSettingDTO'
        optionGroupIds:
          type: array
          items:
            type: string
        subGroups:
          type: array
          items:
            $ref: '#/components/schemas/ViewGroupAdminDTO'
        subGroupIds:
          type: array
          items:
            type: string
        selectionMandatory:
          type: boolean
        selectionType:
          $ref: '#/components/schemas/SelectionType'
        inheritParentOptions:
          type: boolean
        maxItemSelections:
          type: integer
          format: int32
        minItemSelections:
          type: integer
          format: int32
        groupItemSettings:
          type: array
          items:
            $ref: '#/components/schemas/GroupItemSetting'
          uniqueItems: true
      required:
      - clientId
      - merchantId
      - title
    CatalogSearchRequestDTO:
      type: object
      properties:
        clientId:
          type: string
        count:
          type: integer
          format: int32
        externalIds:
          type: array
          items:
            type: string
          uniqueItems: true
        filterByAllowedLocations:
          type: boolean
        imported:
          type: boolean
        incentivioIds:
          type: array
          items:
            type: string
          uniqueItems: true
        includeStores:
          type: boolean
        originalTitle:
          type: string
        page:
          type: integer
          format: int32
        sortBy:
          type: string
        sortDirection:
          $ref: '#/components/schemas/Direction'
        status:
          $ref: '#/components/schemas/Status'
        title:
          type: string
        endDate:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        storeIds:
          type: array
          items:
            type: string
          uniqueItems: true
    Tax:
      type: object
      properties:
        taxId:
          type: string
        extTaxId:
          type: string
        taxDescription:
          type: string
        taxType:
          $ref: '#/components/schemas/ChargeType'
        amount:
          type: integer
          format: int32
        percentage:
          type: number
          format: float
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
        applicableEntity:
          $ref: '#/components/schemas/OrderEntity'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/ChargeRule'
    LoyaltyStatus:
      type: string
      enum:
      - SUCCESS
      - FAILED
      - IGNORED
      - NOT_PROCESSED
    OrdersCountResponseDTO:
      type: object
      properties:
        orderCount:
          type: integer
          format: int32
        imHereNewOrderCount:
          type: integer
          format: int32
        imHerePrepOrderCount:
          type: integer
          format: int32
    DailySalesReportExportRequestDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        adminName:
          type: string
        adminId:
          type: string
        emailIds:
          type: array
          items:
            type: string
        clientId:
          type: string
        merchantId:
          type: string
        startDateStr:
          type: string
        endDateStr:
          type: string
        filterModes:
          type: array
          items:
            $ref: '#/components/schemas/OrderFilteringMode'
        storeIds:
          type: array
          items:
            type: string
    LoyaltyUnSuccessfulReason:
      type: string
      enum:
      - CHECKS_NOT_FOUND
      - CUSTOMER_NULL
      - TOTAL_NULL
      - EMAIL_AND_PHONE_NUMBER_NULL
      - USER_ACCOUNT_NOT_FOUND
      - ZERO_SUB_TOTAL
      - EXCEPTION_ON_CUSTOMER_LOOKUP
      - EXCEPTION_ON_ADDING_LOYALTY_POINTS
      - DUPLICATE_USER_FOUND_FOR_PHONE_NUMBER
      - EXT_USER_ID_NULL
      - DUPLICATE_USER_FOUND_FOR_USER_LOOKUP_MODE
      - NO_LOOKUP_DETAIL_FOUND_FOR_LOOKUP
      - EXT_USERID_IS_REQUIRED
      - EMAIL_OR_PHONE_NUMBER_IS_REQUIRED
      - CHECKNAME_EMAIL_OR_PHONE_NUMBER_IS_REQUIRED
      - VOIDED_CHECK
      - EXTUSERID_EMAIL_AND_PHONE_NUMBER_NULL
      - OPEN_CHECK
      - ZERO_SUB_TOTAL_WITHOUT_EXCLUDED_PRODUCTS
    SelectionType:
      type: string
      enum:
      - MULTI_SELECT
      - SINGLE_SELECT
    DiscountType:
      type: string
      enum:
      - ITEM
      - ORDER
    StoreInfo:
      type: object
      properties:
        smallImage:
          type: string
        storeId:
          type: string
        title:
          type: string
    OrderRefund:
      type: object
      properties:
        refundAmount:
          type: integer
          format: int32
        refundReason:
          type: string
        refundDate:
          type: string
        requestedBy:
          type: string
        userInfo:
          $ref: '#/components/schemas/FindAdminUserResponseDTO'
    SearchOrdersResponseDTOWithPagingForAdmin:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/SearchOrdersResponseDTOForAdmin'
        paging:
          $ref: '#/components/schemas/PagingDTO'
    UpdateAuditEventRequestDTO:
      type: object
      properties:
        resolved:
          type: boolean
        comment:
          type: string
    AdminAccountAuthorization:
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
        dateUpdated:
          type: string
          format: date-time
        all:
          type: boolean
        clientIdRoleIds:
          type: object
          additionalProperties:
            type: integer
            format: int64
        clients:
          type: array
          items:
            $ref: '#/components/schemas/ClientAuthorization'
          uniqueItems: true
        email:
          type: string
        locationIdClientIds:
          type: object
          additionalProperties:
            type: string
      required:
      - all
      - clientIdRoleIds
      - clients
      - dateCreated
      - dateUpdated
      - email
      - locationIdClientIds
    OrderDiscount:
      type: object
      properties:
        discountId:
          type: string
        extDiscountId:
          type: string
        distributedOfferId:
          type: string
        description:
          type: string
        discountType:
          $ref: '#/components/schemas/DiscountType'
        pointsCost:
          type: integer
          format: int32
        discountAmount:
          type: integer
          format: int32
        discountPercentage:
          type: number
          format: float
        appliedDiscount:
          type: integer
          format: int32
        displayAppliedDiscount:
          type: string
    AppliedDiscount:
      type: object
      properties:
        offerId:
          type: string
        extOfferId:
          type: string
        distributedOfferId:
          type: string
        offerCode:
          type: string
        name:
          type: string
        discountType:
          type: string
        appliedDiscount:
          type: integer
          format: int32
        additionalAttribs:
          type: object
          additionalProperties:
            type: string
    DiscountValueType:
      type: string
      enum:
      - AMOUNT
      - PERCENTAGE
    OrderSort:
      type: string
      enum:
      - ASC
      - DESC
    OrderType:
      type: string
      enum:
      - DELIVERY
      - PICKUP
    FulfillmentStatus:
      type: string
      enum:
      - NONE
      - NEW
      - CONFIRM
      - PREP
      - READY
      - DELIVERY
      - CLOSED
      - CANCELED
    ListCatalogResponseWithPagingForAdminDTO:
      type: object
      properties:
        catalogs:
          type: array
          items:
            $ref: '#/components/schemas/ListCatalogAdminDTO'
        paging:
          $ref: '#/components/schemas/PagingDTO'
    GroupItemSetting:
      type: object
      properties:
        itemId:
          type: string
        itemGuid:
          type: string
        maxItemSelections:
          type: integer
          format: int32
        price:
          type: integer
          format: int32
        isDefault:
          type: boolean
        displayRank:
          type: integer
          format: int32
    AppliedCharge:
      type: object
      properties:
        chargeId:
          type: string
        extChargeId:
          type: string
        chargeDescription:
          type: string
        chargeType:
          type: string
        appliedCharge:
          type: integer
          format: int32
        percentage:
          type: number
          format: float
        taxable:
          type: boolean
        gratuity:
          type: boolean
        delivery:
          type: boolean
        appliedTax:
          type: array
          items:
            $ref: '#/components/schemas/AppliedTax'
    RoleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        role:
          type: string
        description:
          type: string
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleDTO'
        active:
          type: boolean
        deleted:
          type: boolean
    AppliedTax:
      type: object
      properties:
        taxId:
          type: string
        taxDescription:
          type: string
        taxType:
          type: string
        amount:
          type: integer
          format: int32
        percentage:
          type: number
          format: float
        appliedTax:
          type: integer
          format: int32
    ModuleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        order:
          type: integer
          format: int32
        roleModulePermissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
        allPermissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
        active:
          type: boolean
        deleted:
          type: boolean
    ChargeRule:
      type: object
      properties:
        amount:
          type: integer
          format: int32
        operator:
          $ref: '#/components/schemas/Operator'
    CatalogCacheResponse:
      type: object
      properties:
        requestId:
          type: string
        clientId:
          type: string
        status:
          $ref: '#/components/schemas/CatalogCacheProgressStatus'
        startedTime:
          type: string
        completedTime:
          type: string
    SearchOrdersResponseDTOForAdmin:
      type: object
      properties:
        orderId:
          type: string
        clientId:
          type: string
        merchantId:
          type: string
        locationId:
          type: string
        extOrderId:
          type: string
        orderNumber:
          type: string
        customer:
          $ref: '#/components/schemas/SearchCustomerDTO'
        createdDate:
          type: string
        updatedDate:
          type: string
        closedTime:
          type: string
        orderTotal:
          $ref: '#/components/schemas/OrderTotalDTO'
        locationName:
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        orderType:
          $ref: '#/components/schemas/OrderType'
        fulfillmentStatus:
          $ref: '#/components/schemas/FulfillmentStatus'
        orderFulfillTime:
          type: string
        originalFulfillTime:
          type: string
        orderSource:
          $ref: '#/components/schemas/OrderSource'
        orderNote:
          type: string
        orderOptionName:
          type: string
        hasCustomerNotifications:
          type: boolean
        imHere:
          type: boolean
        imHereUpdated:
          type: string
    Operator:
      type: string
      enum:
      - EQ
      - LT
      - LTEQ
      - GT
      - GTE
    OrderNotificationRequestDTO:
      type: object
      properties:
        subject:
          type: string
        message:
          type: string
        messageType:
          type: string
        email:
          type: string
        phoneNumber:
          type: string
        updateFulfillTime:
          type: boolean
        newFulfillTime:
          type: string
          format: date-time
        timeInMinutes:
          type: integer
          format: int32
    OrderTypeDTO:
      type: string
      enum:
      - DELIVERY
      - PICKUP
    OrderFilteringMode:
      type: string
      enum:
      - ALL_ORDERS
      - CLOSED_ORDERS
      - ABANDONED_ORDERS
      - MENU_BROWSING_ORDERS
      - CANCELED_ORDERS
      - REFUNDED_ORDERS
      - TEST_ORDERS
      - PAYMENT_ERROR_ORDERS
      - NONPAYMENT_ERROR_ORDERS
    TaxInfoDTO:
      type: object
      properties:
        id:
          type: string
        extTaxId:
          type: string
        taxDescription:
          type: string
        taxType:
          $ref: '#/components/schemas/TaxTypeDTO'
        amount:
          type: number
          format: double
        percentage:
          type: number
          format: double
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderTypeDTO'
    DailySalesReportExportResponseDTO:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/DailySalesReportRequestStatusEnum'
        message:
          type: string
        request:
          $ref: '#/components/schemas/DailySalesReportExportRequestDTO'
        generatedCSV:
          type: string
    DeliveryInfo:
      type: object
      properties:
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        deliveryInstructions:
          type: string
    OrderStatus:
      type: string
      enum:
      - OPEN
      - CLOSED
      - CANCELED
      - REFUNDED
      - SYNC_PENDING
    VoidInfo:
      type: object
      properties:
        voidDate:
          type: string
          format: date-time
        voidBusinessDate:
          type: string
          format: date
        voidReason:
          type: string
    ListCatalogAdminDTO:
      type: object
      properties:
        clientId:
          type: string
        merchantId:
          type: string
        externalId:
          type: string
        extTargetingId:
          type: string
        title:
          type: string
        createdDate:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        startDate:
          type: string
        endDate:
          type: string
        displayRank:
          type: integer
          format: int32
        displayInfo:
          type: array
          items:
            $ref: '#/components/schemas/DisplayInfo'
        status:
          type: string
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
        extendedAttributes:
          type: object
          additionalProperties:
            type: string
        privateAttributes:
          type: object
          additionalProperties:
            type: string
        storeIds:
          type: array
          items:
            type: string
        storeInfos:
          type: array
          items:
            $ref: '#/components/schemas/StoreInfo'
        originalTitle:
          type: string
        catalogId:
          type: string
        groupIds:
          type: array
          items:
            type: string
        groups:
          type: array
          items:
            $ref: '#/components/schemas/ViewGroupAdminDTO'
        lastPublished:
          type: string
          format: date-time
      required:
      - clientId
      - merchantId
      - title
    CatalogIntegrationType:
      type: string
      enum:
      - INTEGRATED
      - STANDALONE
    DailyOrdersSummaryDTO:
      type: object
      properties:
        noOfRecords:
          type: integer
          format: int32
        totalOfOrderTotal:
          type: number
          format: double
        totalOfOrderSubtotal:
          type: number
          format: double
    OrderTax:
      type: object
      properties:
        taxId:
          type: string
        taxDescription:
          type: string
        taxAmountApplied:
          type: integer
          format: int32
    Customer:
      type: object
      properties:
        incentivioId:
          type: string
        extId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phoneNo:
          type: string
    LocationAuthorization:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    MerchantAuthorization:
      type: object
      properties:
        all:
          type: boolean
        id:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/LocationAuthorization'
          uniqueItems: true
      required:
      - all
      - id
      - locations
    OrderTotal:
      type: object
      properties:
        preDiscountSubtotal:
          type: integer
          format: int32
        taxSummary:
          $ref: '#/components/schemas/TaxSummary'
        chargeSummary:
          $ref: '#/components/schemas/ChargeSummary'
        refundSummary:
          $ref: '#/components/schemas/RefundSummary'
        subtotal:
          type: integer
          format: int32
        gratuity:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
        displayTotal:
          type: string
        displaySubtotal:
          type: string
        displayPreDiscountSubtotal:
          type: string
        displayTotalDiscountApplied:
          type: string
        displayGratuity:
          type: string
        totalTaxApplied:
          type: integer
          format: int32
    FindAdminUserResponseDTO:
      type: object
      properties:
        adminAccountAuthorization:
          $ref: '#/components/schemas/AdminAccountAuthorization'
        adminId:
          type: string
        email:
          type: string
        clientID:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        merchantId:
          type: string
        role:
          $ref: '#/components/schemas/RoleDTO'
        status:
          type: string
        deleted:
          type: boolean
        storeIds:
          type: array
          items:
            type: string
        reach:
          type: string
        hasEntireClientReach:
          type: boolean
    OrderSource:
      type: string
      enum:
      - APP
      - WEB
      - POS
      - KIOSK
      - GOOGLE_ORDERING
    OrderTotalDTO:
      type: object
      properties:
        preDiscountSubtotal:
          type: integer
          format: int32
        subtotal:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
        displayTotal:
          type: string
        displaySubtotal:
          type: string
        displayPreDiscountSubtotal:
          type: string
    ChargeSummary:
      type: object
      properties:
        taxableCharges:
          type: integer
          format: int32
        nonTaxableCharges:
          type: integer
          format: int32
        charges:
          type: array
          items:
            $ref: '#/components/schemas/OrderCharge'
        totalCharges:
          type: integer
          format: int32
        totalChargesWithTax:
          type: integer
          format: int32
        totalTaxes:
          type: integer
          format: int32
    Discount:
      type: object
      properties:
        discountId:
          type: string
        extDiscountId:
          type: string
        description:
          type: string
        discountType:
          $ref: '#/components/schemas/DiscountType'
        discountValueType:
          $ref: '#/components/schemas/DiscountValueType'
        amount:
          type: integer
          format: int32
        percentage:
          type: number
          format: float
        name:
          type: string
    AuditEventDTO:
      type: object
      properties:
        id:
          type: string
        eventName:
          type: string
        traceId:
          type: string
        transactionId:
          type: string
        eventTime:
          type: string
        description:
          type: string
        interventionRequired:
          type: boolean
        resolved:
          type: boolean
        resolutionTime:
          type: string
        resolutionComment:
          type: string
        requestedBy:
          $ref: '#/components/schemas/FindAdminUserResponseDTO'
        extendedAttributes:
          type: object
          additionalProperties:
            type: string
        externalStatuses:
          type: object
          additionalProperties:
            type: string
        additionalDetails:
          type: string
    DailyOrdersResponseDTOWithPagingForAdmin:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/DailyOrdersResponseDTOForAdmin'
        totalAmount:
          type: number
          format: double
        paging:
          $ref: '#/components/schemas/PagingDTO'
        summary:
          $ref: '#/components/schemas/DailyOrdersSummaryDTO'
    Total:
      type: object
      properties:
        itemTotal:
          type: integer
          format: int32
        gratuity:
          type: integer
          format: int32
        tax:
          type: integer
          format: int32
        taxedChargeTotal:
          type: integer
          format: int32
        nonTaxedChargeTotal:
          type: integer
          format: int32
        dicountTotal:
          type: integer
          format: int32
        subTotal:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
        paid:
          type: integer
          format: int32
        due:
          type: integer
          format: int32
        processingFee:
          type: integer
          format: int32
    OptionGroupSettingDTO:
      type: object
      properties:
        optionGroupId:
          type: string
        displayRank:
          type: integer
          format: int32
        inheritGroupSettings:
          type: boolean
        defaultSelectedItemIds:
          type: array
          items:
            type: string
          uniqueItems: true
        mandatoryItemIds:
          type: array
          items:
            type: string
          uniqueItems: true
        selectionMandatory:
          type: boolean
        selectionType:
          $ref: '#/components/schemas/SelectionType'
        maxItemSelections:
          type: integer
          format: int32
        minItemSelections:
          type: integer
          format: int32
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
    CreateCatalogRequestDTO:
      type: object
      properties:
        clientId:
          type: string
          minLength: 1
        merchantId:
          type: string
          minLength: 1
        externalId:
          type: string
        title:
          type: string
          minLength: 1
        createdDate:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        displayRank:
          type: integer
          format: int32
        displayInfo:
          type: array
          items:
            $ref: '#/components/schemas/DisplayInfo'
        status:
          type: string
        applicableOrderTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrderType'
        extendedAttributes:
          type: object
          additionalProperties:
            type: string
        privateAttributes:
          type: object
          additionalProperties:
            type: string
        storeIds:
          type: array
          items:
            type: string
        catalogId:
          type: string
        groupIds:
          type: array
          items:
            type: string
          uniqueItems: true
      required:
      - clientId
      - merchantId
      - title
    DailySalesReportRequestStatusEnum:
      type: string
      enum:
      - INPROGRESS
      - EMAILED
      - DOWNLOADED
      - RETRYING
      - FAILED
    TaxTypeDTO:
      type: string
      enum:
      - OPEN
      - AMOUNT
      - PERCENTAGE
    BulkUpdateRequest:
      type: object
      properties:
        field:
          type: string
        ids:
          type: array
          items:
            type: string
        value: {}
      required:
      - field
      - ids
      - value
    ItemsCountDTO:
      type: object
      properties:
        totalItemsCount:
          type: integer
          format: int32
        itemsCount:
          type: object
          additionalProperties:
            type: integer
            format: int32
    CreateCatalogResponseDTO:
      type: object
      properties:
        catalogId:
          type: string
    OrderingChannels:
      type: string
      enum:
      - MOBILE
      - FACEBOOK
      - NONE
    Status:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
    OrderNotificationMessageResponseDTO:
      type: object
      properties:
        subject:
          type: string
        message:
          type: string
        messageType:
          type: string
        createdDate:
          type: string
          format: date-time
        extendedAttributes:
          type: object
          additionalProperties:
            type: string
    PatchRequestDTO:
      type: object
      properties:
        op:
          $ref: '#/components/schemas/Operation'
        path:
          type: string
        value:
          type: string
    ItemType:
      type: string
      enum:
      - MAIN
      - MODIFIER
    OrderTax_2:
      type: object
      properties:
        taxId:
          type: string
        taxDescription:
          type: string
        taxAmountApplied:
          type: integer
          format: int32
        displayTaxAmountApplied:
          type: string
    Customer_2:
      type: object
      properties:
        customerId:
          type: string
        extCustomerId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
    OrderCharge_2:
      type: object
      properties:
        chargeId:
          type: string
        chargeName:
          type: string
        chargeDescription:
          type: string
        taxable:
          type: boolean
        gratuity:
          type: boolean
        delivery:
          type: boolean
        chargeApplied:
          type: integer
          format: int32
        displayChargeApplied:
          type: string
    OrderTotal_2:
      type: object
      properties:
        preDiscountSubtotal:
          type: integer
          format: int32
        taxSummary:
          $ref: '#/components/schemas/TaxSummary_2'
        chargeSummary:
          $ref: '#/components/schemas/ChargeSummary_2'
        totalDiscountApplied:
          type: integer
          format: int32
        subtotal:
          type: integer
          format: int32
        gratuity:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
        displayTotal:
          type: string
        displaySubtotal:
          type: string
        displayTotalDiscountApplied:
          type: string
        displayGratuity:
          type: string
        displayPreDiscountSubtotal:
          type: string
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
    PagingDto:
      type: object
      properties:
        count:
          type: integer
          format: int32
        currentPage:
          type: integer
          format: int32
        total:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int64
    ChargeSummary_2:
      type: object
      properties:
        taxableCharges:
          type: integer
          format: int32
        nonTaxableCharges:
          type: integer
          format: int32
        totalCharges:
          type: integer
          format: int32
        charges:
          type: array
          items:
            $ref: '#/components/schemas/OrderCharge_2'
        displayTaxableCharges:
          type: string
        displayNonTaxableCharges:
          type: string
        displayTotalCharges:
          type: string
    CreateOrderResponseDTO:
      type: object
      properties:
        orderId:
          type: string
    Address_2:
      type: object
      properties:
        streetAddress1:
          type: string
        streetAddress2:
          type: string
        city:
          type: string
        postalCode:
          type: string
        region:
          type: string
        country:
          type: string
        aptSuite:
          type: string
    OrderItemGroup:
      type: object
      properties:
        groupId:
          type: string
        groupExtId:
          type: string
        groupType:
          type: string
          enum:
          - CATALOG_GROUP
          - OPTION_GROUP
        groupName:
          type: string
        privateAttributes:
          type: object
          additionalProperties:
            type: string
    ListOrderHistoryResponseDTO:
      type: object
      properties:
        orderId:
          type: string
        clientId:
          type: string
        merchantId:
          type: string
        locationId:
          type: string
        locationName:
          type: string
        extOrderId:
          type: string
        orderName:
          type: string
        orderNumber:
          type: string
        orderType:
          type: string
          enum:
          - DELIVERY
          - PICKUP
          - DINEIN
        customer:
          $ref: '#/components/schemas/Customer_2'
        guestCount:
          type: integer
          format: int32
        tableNumber:
          type: string
        delivery:
          $ref: '#/components/schemas/Delivery'
        openedTime:
          type: string
        closedTime:
          type: string
        status:
          type: string
          enum:
          - OPEN
          - CLOSED
          - CANCELED
          - SYNC_PENDING
        orderFulfillTime:
          type: string
        revenueCenter:
          type: string
        createdDate:
          type: string
        updatedDate:
          type: string
        orderItems:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/OrderItem_2'
        orderDiscounts:
          type: array
          items:
            $ref: '#/components/schemas/OrderDiscount_2'
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
        checks:
          type: array
          items:
            $ref: '#/components/schemas/Check_2'
        orderTotal:
          $ref: '#/components/schemas/OrderTotal_2'
        orderSource:
          type: string
          enum:
          - APP
          - WEB
          - POS
          - KIOSK
          - GOOGLE_ORDERING
        orderOptionName:
          type: string
        orderOptionInstructions:
          type: string
        orderOptionInformation:
          type: string
        orderOptionUserResponse:
          type: string
        displayImHereButton:
          type: boolean
        imHere:
          type: boolean
        trackingUrl:
          type: string
        orderInstructions:
          type: string
        deliveryInstructions:
          type: string
    ListOrderResponseDTO:
      type: object
      properties:
        clientId:
          type: string
        orderId:
          type: string
        merchantId:
          type: string
        openedTime:
          type: string
        closedTime:
          type: string
        orderType:
          type: string
          enum:
          - DELIVERY
          - PICKUP
          - DINEIN
        status:
          type: string
          enum:
          - OPEN
          - CLOSED
          - CANCELED
          - SYNC_PENDING
    ItemTotal:
      type: object
      properties:
        preDiscountSubtotal:
          type: integer
          format: int32
        taxSummary:
          $ref: '#/components/schemas/TaxSummary_2'
        chargeSummary:
          $ref: '#/components/schemas/ChargeSummary_2'
        appliedDiscount:
          type: integer
          format: int32
        subtotal:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
        displayPreDiscountSubtotal:
          type: string
        displayAppliedDiscount:
          type: string
        displaySubtotal:
          type: string
        displayTotal:
          type: string
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
    OrderHistoryResponseWithPagingDTO:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/ListOrderHistoryResponseDTO'
        paging:
          $ref: '#/components/schemas/PagingDto'
    ViewOrderResponseDTO:
      type: object
      properties:
        orderId:
          type: string
        clientId:
          type: string
        merchantId:
          type: string
        locationId:
          type: string
        extOrderId:
          type: string
        orderName:
          type: string
        orderNumber:
          type: string
        orderType:
          type: string
          enum:
          - DELIVERY
          - PICKUP
          - DINEIN
        customer:
          $ref: '#/components/schemas/Customer_2'
        guestCount:
          type: integer
          format: int32
        tableId:
          type: string
        delivery:
          $ref: '#/components/schemas/Delivery'
        openedTime:
          type: string
        closedTime:
          type: string
        status:
          type: string
          enum:
          - OPEN
          - CLOSED
          - CANCELED
          - SYNC_PENDING
        orderFulfillTime:
          type: string
        revenueCenter:
          type: string
        orderItems:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/OrderItem_2'
        orderDiscounts:
          type: array
          items:
            $ref: '#/components/schemas/OrderDiscount_2'
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
        checks:
          type: array
          items:
            $ref: '#/components/schemas/Check_2'
        orderTotal:
          $ref: '#/components/schemas/OrderTotal_2'
        itemsCountDetails:
          $ref: '#/components/schemas/ItemsCountDTO'
        orderNote:
          type: string
        orderSource:
          type: string
          enum:
          - APP
          - WEB
          - POS
          - KIOSK
          - GOOGLE_ORDERING
        guestOrderVerified:
          type: boolean
    TaxSummary_2:
      type: object
      properties:
        totalTaxes:
          type: integer
          format: int32
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/OrderTax_2'
        displayTotalTaxes:
          type: string
    OrderItem_2:
      type: object
      properties:
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
        basePrice:
          type: integer
          format: int32
        brandId:
          type: string
        catalogId:
          type: string
        categoryId:
          type: string
        displayInfo:
          $ref: '#/components/schemas/DisplayInfo'
        displayInfoTitle:
          type: string
        extCatalogId:
          type: string
        externalId:
          type: string
        group:
          $ref: '#/components/schemas/OrderItemGroup'
        itemDiscounts:
          type: array
          items:
            $ref: '#/components/schemas/OrderDiscount_2'
        itemId:
          type: string
        itemInstructions:
          type: string
        itemName:
          type: string
        itemTotal:
          $ref: '#/components/schemas/ItemTotal'
        notes:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem_2'
        orderItemId:
          type: string
        privateAttributes:
          type: object
          additionalProperties:
            type: string
        quantity:
          type: integer
          format: int32
        sku:
          type: string
        unitPrice:
          type: integer
          format: int32
        uom:
          type: string
        upc:
          type: string
        taxable:
          type: boolean
    CustomerDTO:
      type: object
      properties:
        customerId:
          type: string
        extCustomerId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
    Payment_2:
      type: object
      properties:
        paymentTxId:
          type: string
        externalTxId:
          type: string
        paidDate:
          type: string
        paymentType:
          type: string
          enum:
          - CARD_NOT_PRESENT
          - CARD_PRESENT
          - CASH
          - THIRD_PARTY
          - APPLE_PAY
          - ANDROID_PAY
          - SAMSUNG_PAY
          - NO_PAYMENT
          - GOOGLE_PAY
          - ONE_TIME_TOKEN
          - PERMANENT_TOKEN
          - GIFT_CARD
          - PAYMENT_SKIPPED
        cardType:
          type: string
        lastFour:
          type: string
        amount:
          type: integer
          format: int32
        tipAmount:
          type: integer
          format: int32
        amountTendered:
          type: integer
          format: int32
    Check_2:
      type: object
      properties:
        checkId:
          type: string
        extCheckId:
          type: string
        customer:
          $ref: '#/components/schemas/Customer_2'
        amount:
          type: integer
          format: int32
        gratuity:
          type: integer
          format: int32
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment_2'
    Delivery:
      type: object
      properties:
        deliveryAddress:
          $ref: '#/components/schemas/Address_2'
        deliveryInstructions:
          type: string
    OrderDiscount_2:
      type: object
      properties:
        discountId:
          type: string
        extDiscountId:
          type: string
        description:
          type: string
        amountOfDiscount:
          type: integer
          format: int32
        distributedOfferId:
          type: string
        discountType:
          type: string
        pointsCost:
          type: integer
          format: int32
        discountAmount:
          type: integer
          format: int32
        discountPercentage:
          type: number
          format: float
        appliedDiscount:
          type: integer
          format: int32
        displayAppliedDiscount:
          type: string
    CreateOrderRequestDTO:
      type: object
      properties:
        clientId:
          type: string
        userId:
          type: string
        orderId:
          type: string
        locationId:
          type: string
        orderName:
          type: string
        orderType:
          type: string
          enum:
          - DELIVERY
          - PICKUP
          - DINEIN
        customer:
          $ref: '#/components/schemas/CustomerDTO'
        guestCount:
          type: integer
          format: int32
        tableNumber:
          type: string
        delivery:
          $ref: '#/components/schemas/Delivery'
        requestedFulfillTime:
          type: string
        revenueCenter:
          type: string
        orderNote:
          type: string
        orderSource:
          type: string
          enum:
          - APP
          - WEB
          - POS
          - KIOSK
          - GOOGLE_ORDERING
        additionalAttributes:
          type: object
          additionalProperties:
            type: string
        restrictedOrder:
          type: boolean
        presetOrderId:
          type: string
        languageCode:
          type: string
x-refined-from:
- incentivio-admin-api-openapi.yml
- incentivio-mobile-api-openapi.yml
