openapi: 3.2.0
info:
  title: OpenAPI definition Bulk Image Upload Controller API
  version: v0
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
tags:
- name: bulk-image-upload-controller
paths:
  /incentivio-menu-service/bulkimageuploads/{id}:
    get:
      tags:
      - bulk-image-upload-controller
      operationId: read
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkImageUploadReadResponse'
      summary: Read
      x-summary-source: derived
    put:
      tags:
      - bulk-image-upload-controller
      operationId: update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkImageUploadUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
      summary: Update
      x-summary-source: derived
  /incentivio-menu-service/bulkimageuploads:
    get:
      tags:
      - bulk-image-upload-controller
      operationId: search_1
      parameters:
      - name: count
        in: query
        required: false
        schema:
          type: integer
          format: int32
          maximum: 100
          minimum: 10
      - name: dateCreatedGte
        in: query
        required: false
        schema:
          type: string
      - name: dateCreatedLt
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          maxLength: 255
          minLength: 0
      - name: sortDirection
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: uploadId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkImageUploadSearchResponse'
      summary: Search 1
      x-summary-source: derived
    post:
      tags:
      - bulk-image-upload-controller
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkImageUploadCreateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkImageUploadCreateResponse'
      summary: Create
      x-summary-source: derived
  /incentivio-menu-service/bulkimageuploads/{id}/process:
    post:
      tags:
      - bulk-image-upload-controller
      operationId: process
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      responses:
        '200':
          description: OK
      summary: Process
      x-summary-source: derived
components:
  schemas:
    ImageFileMatch:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
      required:
      - id
      - title
    ImageFileStatus:
      type: string
      enum:
      - ERROR
      - PROCESSED
      - QUEUED
      - UPLOADED
    BulkImageUploadUpdateRequest:
      type: object
      properties:
        id:
          type: string
        processedFiles:
          type: array
          items:
            $ref: '#/components/schemas/ImageFile'
        status:
          $ref: '#/components/schemas/BulkImageUploadStatus'
        statusMessage:
          type: string
      required:
      - processedFiles
      - status
    BulkImageUploadStatus:
      type: string
      enum:
      - COMPLETE
      - ERROR
      - PROCESSING
      - UPLOADED
      - UPLOADING
    BulkImageUploadReadResponse:
      type: object
      properties:
        bulkImageUpload:
          $ref: '#/components/schemas/BulkImageUpload'
    ImageFile:
      type: object
      properties:
        filename:
          type: string
        matches:
          type: array
          items:
            $ref: '#/components/schemas/ImageFileMatch'
        status:
          $ref: '#/components/schemas/ImageFileStatus'
        statusMessage:
          type: string
        url:
          type: string
      required:
      - filename
      - status
    BulkImageUploadSearchResponse:
      type: object
      properties:
        bulkImageUploads:
          type: array
          items:
            $ref: '#/components/schemas/BulkImageUpload'
        paging:
          $ref: '#/components/schemas/PagingDto'
    BulkImageUploadCreateResponse:
      type: object
      properties:
        id:
          type: string
    BulkImageUploadType:
      type: string
      enum:
      - CATALOG
      - GROUP
      - ITEM
    BulkImageUploadCreateRequest:
      type: object
      properties:
        adminId:
          type: string
        clientId:
          type: string
        processedFiles:
          type: array
          items:
            $ref: '#/components/schemas/ImageFile'
        type:
          $ref: '#/components/schemas/BulkImageUploadType'
        uploadId:
          type: string
      required:
      - processedFiles
      - type
      - uploadId
    BulkImageUpload:
      type: object
      properties:
        dateCreated:
          type: string
        dateUpdated:
          type: string
        id:
          type: string
        adminId:
          type: string
        clientId:
          type: string
        processedFiles:
          type: array
          items:
            $ref: '#/components/schemas/ImageFile'
        status:
          $ref: '#/components/schemas/BulkImageUploadStatus'
        statusMessage:
          type: string
        type:
          $ref: '#/components/schemas/BulkImageUploadType'
        uploadId:
          type: string
      required:
      - adminId
      - clientId
      - dateCreated
      - dateUpdated
      - status
      - type
      - uploadId
    PagingDto:
      type: object
      properties:
        count:
          type: integer
          format: int32
        currentPage:
          type: integer
          format: int32
        total:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int64
