openapi: 3.2.0
info:
  title: OpenAPI definition Role Module Permission Controller API
  version: v0
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
tags:
- name: role-module-permission-controller
paths:
  /incentivio-client-domain/clients/{clientid}/updaterole:
    put:
      tags:
      - role-module-permission-controller
      operationId: updateRole
      parameters:
      - name: Inc-Client-Id
        in: header
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequestDTO'
        required: true
      responses:
        '200':
          description: OK
  /incentivio-client-domain/clients/{clientid}/createrole:
    post:
      tags:
      - role-module-permission-controller
      operationId: createRole
      parameters:
      - name: Inc-Client-Id
        in: header
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateRoleResponseDTO'
  /incentivio-client-domain/clients/{clientid}/searchroles:
    get:
      tags:
      - role-module-permission-controller
      operationId: searchRoles
      parameters:
      - name: Inc-Client-Id
        in: header
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: count
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: sortby
        in: query
        required: false
        schema:
          type: string
          default: role
      - name: sortdirection
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Direction'
          default: ASC
      - name: userid
        in: query
        required: false
        schema:
          type: string
      - name: role
        in: query
        required: false
        schema:
          type: string
      - name: showAll
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchRolesResponseDTO'
  /incentivio-client-domain/clients/{clientid}/searchpermissions:
    get:
      tags:
      - role-module-permission-controller
      operationId: findPermissions
      parameters:
      - name: Inc-Client-Id
        in: header
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchModulesResponseDTO'
  /incentivio-client-domain/clients/{clientid}/findrole/{roleid}:
    get:
      tags:
      - role-module-permission-controller
      operationId: findRole
      parameters:
      - name: Inc-Client-Id
        in: header
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      - name: roleid
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RoleDTO'
  /incentivio-client-domain/clients/{clientid}/deleterole/{roleid}:
    delete:
      tags:
      - role-module-permission-controller
      operationId: deleteRole
      parameters:
      - name: Inc-Client-Id
        in: header
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
      - name: roleid
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
components:
  schemas:
    SearchModulesResponseDTO:
      type: object
      properties:
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleDTO'
    SearchRolesResponseDTO:
      type: object
      properties:
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleDTO'
        paging:
          $ref: '#/components/schemas/PagingDto'
    ModuleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        order:
          type: integer
          format: int32
        roleModulePermissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
        allPermissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
        active:
          type: boolean
        deleted:
          type: boolean
    PermissionDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        permission:
          type: string
        description:
          type: string
        moduleID:
          type: integer
          format: int64
        active:
          type: boolean
        deleted:
          type: boolean
    Direction:
      type: string
      enum:
      - ASC
      - DESC
    CreateRoleResponseDTO:
      type: object
      properties:
        id:
          type: string
    CreateRoleRequestDTO:
      type: object
      properties:
        role:
          type: string
        description:
          type: string
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleDTO'
        active:
          type: boolean
        deleted:
          type: boolean
      required:
      - modules
      - role
    UpdateRoleRequestDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        role:
          type: string
        description:
          type: string
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleDTO'
        active:
          type: boolean
        deleted:
          type: boolean
      required:
      - id
    PagingDto:
      type: object
      properties:
        count:
          type: integer
          format: int32
        currentPage:
          type: integer
          format: int32
        total:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int64
    RoleDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        role:
          type: string
        description:
          type: string
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleDTO'
        active:
          type: boolean
        deleted:
          type: boolean
