openapi: 3.2.0
info:
  title: Incentivio Dynamic Env Controller API
  version: v0
  description: 'Operations tagged dynamic-env-controller across 2 of this provider''s published API definitions: incentivio-admin-api-openapi.yml, incentivio-mobile-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://adminapi.incentivio.com/incentivio-admin-api
  description: Generated server url
- url: https://mobile.incentivio.com/incentivio-mobile-api
  description: Generated server url
tags:
- name: dynamic-env-controller
paths:
  /dynamicEnvs:
    get:
      tags:
      - dynamic-env-controller
      operationId: getDynamicEnvList
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DynamicEnvDTO'
    post:
      tags:
      - dynamic-env-controller
      operationId: saveDynamicEnv
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicEnvDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DynamicEnvDTO'
    delete:
      tags:
      - dynamic-env-controller
      operationId: deleteDynamicEnv
      parameters:
      - name: environmentName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://adminapi.incentivio.com/incentivio-admin-api
      description: Generated server url
components:
  schemas:
    DynamicEnvDTO:
      type: object
      properties:
        environmentName:
          type: string
        baseUrl:
          type: string
        environmentDescription:
          type: string
x-refined-from:
- incentivio-admin-api-openapi.yml
- incentivio-mobile-api-openapi.yml
