{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://mobile.incentivio.com/incentivio-mobile-api","description":"Generated server url"}],"paths":{"/useraccounts/{userId}/complete-profile":{"put":{"tags":["passwordless-auth-controller"],"operationId":"completeProfile","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletePasswordlessProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/useraccounts/phoneonly/token/{token}":{"get":{"tags":["user-controller"],"operationId":"findUserAccountByToken","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindUserByTokenResponseDTO"}}}}}},"put":{"tags":["user-controller"],"operationId":"updateIncompleteUserAccount","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateIncompleteUserAccountRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/surveys/{surveyid}/submitanswers":{"put":{"tags":["survey-answer-controller"],"operationId":"submitAnswers","parameters":[{"name":"surveyid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitAnswersRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/surveys/{surveyid}/submitanswer":{"put":{"tags":["survey-answer-controller"],"operationId":"submitAnswer","parameters":[{"name":"surveyid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitAnswerRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/save/singledeliveryaddress":{"put":{"tags":["delivery-address-controller"],"operationId":"addOrUpdateSingleDeliveryAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeliveryAddressRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeliveryAddressResponseDTO"}}}}}}},"/save/multipledeliveryaddresses":{"put":{"tags":["delivery-address-controller"],"operationId":"addOrUpdateMultipleDeliveryAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeliveryAddressRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeliveryAddressResponseDTO"}}}}}}},"/orders":{"get":{"tags":["order-controller"],"operationId":"listOrders","parameters":[{"name":"clientId","in":"query","required":true,"schema":{"type":"string"}},{"name":"phone","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"extCustomerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["OPEN","CLOSED","CANCELED","SYNC_PENDING"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListOrderResponseDTO"}}}}}}},"put":{"tags":["order-controller"],"operationId":"addOrUpdateOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrderRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateOrderResponseDTO"}}}}}}},"/orders/{orderid}/updateorderitems":{"put":{"tags":["order-item-controller"],"operationId":"updateOrderItem","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrderItemReqDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderUpdateSummaryDTO"}}}}}}},"/orders/{orderid}/orderitems":{"put":{"tags":["order-item-controller"],"operationId":"addOrderItem","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"languageCode","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrderItemReqDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderUpdateSummaryDTO"}}}}}}},"/orders/{orderid}/addorderitems":{"put":{"tags":["order-item-controller"],"operationId":"addOrderItemList","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"languageCode","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrderItemListReqDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderUpdateSummaryDTO"}}}}}}},"/orders/{orderId}/validateguestverificationcode/{code}":{"put":{"tags":["guest-order-verification-controller"],"operationId":"validateGuestOrderVerificationCode","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"code","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/loyaltyaccounts":{"get":{"tags":["loyalty-controller"],"operationId":"viewLoyaltyAccount","parameters":[{"name":"includeloyaltytier","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewLoyaltyAccountResponseDTO"}}}}}},"put":{"tags":["loyalty-controller"],"operationId":"upsertLoyaltyAccountExternalId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertLoyaltyAccountExternalIdDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/loyaltyaccounts/loyaltycard":{"put":{"tags":["loyalty-controller"],"operationId":"upsertLoyaltyCardId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertLoyaltyCardRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/verifyemail":{"post":{"tags":["user-controller"],"operationId":"verifyUserAccountEmail","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailResponseDTO"}}}}}}},"/users/{userId}/orders/markimhere":{"post":{"tags":["im-here-controller"],"operationId":"markAnOrderImHere","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"languagecode","in":"header","required":false,"schema":{"type":"string","default":"EN"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImHereRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImHereResponseDTO"}}}}}}},"/users/login":{"post":{"tags":["user-controller"],"operationId":"userLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponseDTO"}}}}},"deprecated":true}},"/users/login2":{"post":{"tags":["user-controller"],"operationId":"userLogin2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponseDTO"}}}}},"deprecated":true}},"/useraccounts":{"get":{"tags":["user-controller"],"operationId":"findUserAccount","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindUserAccountResponseDTO"}}}}}},"post":{"tags":["user-controller"],"operationId":"createUserAccount","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserAccountRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserAccountResponseDTO"}}}}}}},"/smsuseraccounts":{"get":{"tags":["user-controller"],"operationId":"findUserAccountSMS","parameters":[{"name":"accountaliasid","in":"query","required":false,"schema":{"type":"string"}},{"name":"phonenumber","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindUserAccountResponseDTO"}}}}},"deprecated":true},"post":{"tags":["user-controller"],"operationId":"createUserAccountSMS","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSMSUserAccountRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSMSUserAccountResponseDTO"}}}}},"deprecated":true}},"/redeemofferbyid":{"post":{"tags":["offers-controller"],"operationId":"redeemById","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedeemOfferAPIRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/purchase/ecard":{"post":{"tags":["gift-card-controller"],"operationId":"purchaseECard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseECardRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseECardResponseDTO"}}}}}}},"/processqrcode":{"post":{"tags":["offers-controller"],"operationId":"processQRCode","parameters":[{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedeemOfferAPIRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedeemOfferResponseDTO"}}}}}}},"/paymentinstruments":{"get":{"tags":["wallet-controller"],"operationId":"listPaymentInstruments","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListPaymentInstrumentsResponseDTO"}}}}}},"post":{"tags":["wallet-controller"],"operationId":"addPaymentInstrument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPaymentInstrumentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddPaymentInstrumentResponseDTO"}}}}}}},"/orders/{orderid}/removediscount":{"post":{"tags":["order-offers-controller"],"operationId":"removeDiscount","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveOfferRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewOrderResponseDTO"}}}}}}},"/orders/{orderid}/preparepayment":{"post":{"tags":["order-payment-controller"],"operationId":"prepareOrderPayment","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InitOrderResponseDTO"}}}}}}},"/orders/{orderid}/prepareguestpayment":{"post":{"tags":["order-payment-controller"],"operationId":"prepareGuestOrderPayment","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InitOrderResponseDTO"}}}}}}},"/orders/{orderid}/orderitemprice":{"post":{"tags":["order-item-controller"],"operationId":"getOrderItemPrice","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"languageCode","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrderItemReqDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemTotalDTO"}}}}}}},"/orders/{orderid}/makepayment":{"post":{"tags":["order-payment-controller"],"operationId":"makeOrderPayment","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"inc-user-language","in":"header","required":false,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDTO"}}}}}}},"/orders/{orderid}/makeguestpayment":{"post":{"tags":["order-payment-controller"],"operationId":"makeGuestOrderPayment","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"inc-user-language","in":"header","required":false,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDTO"}}}}}}},"/orders/{orderid}/copyorder":{"post":{"tags":["order-controller"],"operationId":"validateOrderRecreation","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ViewOrderResponseDTO"}}}}}}},"/orders/{orderid}/applydiscount":{"post":{"tags":["order-offers-controller"],"operationId":"applyDiscount","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyOfferRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewOrderResponseDTO"}}}}}}},"/orders/{orderId}/markimhere":{"post":{"tags":["im-here-controller"],"operationId":"markAnOrderImHere_1","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"languagecode","in":"header","required":false,"schema":{"type":"string","default":"EN"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImHereResponseDTO"}}}}}}},"/orders/sendguestverificationcode":{"post":{"tags":["guest-order-verification-controller"],"operationId":"sendGuestOrderVerificationCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestOrderVerificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestOrderVerificationResponse"}}}}}}},"/orders/payment/initorder":{"post":{"tags":["order-payment-controller"],"operationId":"initOrder","parameters":[{"name":"CLIENTID","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitOrderRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InitOrderResponseDTO"}}}}}}},"/orderoffers":{"post":{"tags":["order-offers-controller"],"operationId":"getOrderOfferList","parameters":[{"name":"mock","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrderOffersRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderOfferListResponseDTO"}}}}}}},"/orderoffers/applyofferonnextvisit":{"post":{"tags":["order-offers-controller"],"operationId":"applyOfferOnNextVisit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyOfferOnNextVisitRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyOfferOnNextVisitResponseDTO"}}}}}}},"/locations/{locationid}/orderavailability":{"get":{"tags":["order-availability-controller"],"operationId":"oldGetOrderAvailability","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}},{"name":"lat","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"orderid","in":"query","required":false,"schema":{"type":"string"}},{"name":"inc-user-language","in":"header","required":false,"schema":{"type":"string","default":"EN"}},{"name":"presetorderconfigid","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderAvailabilityResponseDTO"}}}}},"deprecated":true},"post":{"tags":["order-availability-controller"],"operationId":"newGetOrderAvailability","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}},{"name":"inc-user-language","in":"header","required":false,"schema":{"type":"string","default":"EN"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderAvailabilityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderAvailabilityResponseDTO"}}}}}}},"/locations/{locationid}/orderavailability/asap":{"post":{"tags":["order-availability-controller"],"operationId":"calculateAsapDuration","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalculateAsapDurationRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CalculateAsapDurationResponseDTO"}}}}}}},"/locations/{locationid}/calculatetotal":{"post":{"tags":["total-controller"],"operationId":"calculateOrderTotalForItems","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddOrderItemReqDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderTotalDTO"}}}}}}},"/giftcard/purchase":{"post":{"tags":["gift-card-controller"],"operationId":"purchaseAndEmailGiftCard","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseAndEmailGiftCardRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseECardResponseDTO"}}}}}}},"/giftcard/purchase/payment/prepare":{"post":{"tags":["gift-card-payment-controller"],"operationId":"purchaseAndEmailGiftCardPreparePayment","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseAndEmailGiftCardRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreparePaymentResponseDTO"}}}}}}},"/giftcard/paymentinstruments":{"post":{"tags":["gift-card-controller"],"operationId":"addExistingGiftCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPaymentInstrumentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPaymentInstrumentResponseDTO"}}}}}}},"/giftcard/lookup":{"post":{"tags":["gift-card-controller"],"operationId":"cardLookupByNumber","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardLookupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardNumberLookupResponse"}}}}}}},"/giftcard/add-value":{"post":{"tags":["gift-card-controller"],"operationId":"addValuetoGiftCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddValueRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddValueResponseDTO"}}}}}}},"/giftcard/add-value/payment/prepare":{"post":{"tags":["gift-card-payment-controller"],"operationId":"addValueToGiftCardPreparePayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddValueRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreparePaymentResponseDTO"}}}}}}},"/getactivitybasedoffers":{"post":{"tags":["offers-controller"],"operationId":"getOffersBasedOnUserActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityContentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityOfferListDTO"}}}}}}},"/getactivitybasedmessages":{"post":{"tags":["message-controller"],"operationId":"distributeActivityMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetActivityMessagesRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityMessageListDTO"}}}}}}},"/getactivitybasedcontent":{"post":{"tags":["offers-controller"],"operationId":"getActivityBasedContent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityContentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityContentResponseDTO"}}}}}}},"/externaluseraccounts":{"get":{"tags":["user-controller"],"operationId":"externalAccountFindUserAccount","parameters":[{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"externalid","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindUserAccountResponseDTO"}}}}}},"post":{"tags":["user-controller"],"operationId":"externalAccountCreateUserAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExternalUserAccountRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserAccountResponseDTO"}}}}}}},"/ecard/purchase/payment/prepare":{"post":{"tags":["gift-card-payment-controller"],"operationId":"purchaseECardPreparePayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseECardRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreparePaymentResponseDTO"}}}}}}},"/clients/{clientid}/media":{"post":{"tags":["file-controller"],"operationId":"uploadFile","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"source","in":"query","required":false,"schema":{"type":"string","default":"mongo"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MobileFileUploadResponseDTO"}}}}}}},"/changedistributedofferstatus":{"post":{"tags":["offers-controller"],"operationId":"updateDistributedOfferStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDistributedOfferStatusRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/changedistributedmessagestatus":{"post":{"tags":["message-controller"],"operationId":"updateDistributedMessageStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMessageDistributionStatusRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/init":{"post":{"tags":["passwordless-auth-controller"],"operationId":"authInit","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthInitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthInitResponse"}}}}}}},"/verifyUserAccountWithCode":{"get":{"tags":["user-controller"],"operationId":"verifyUserAccountWithCode","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"userEmail","in":"query","required":false,"schema":{"type":"string"}},{"name":"userId","in":"query","required":false,"schema":{"type":"string"}},{"name":"code","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/useraccounts/{email}/resendverificationmail":{"get":{"tags":["user-controller"],"operationId":"resendVerificationEmail","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/useraccounts/phone-and-email-lookup":{"get":{"tags":["user-controller"],"operationId":"userLookup","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"phoneOrEmail","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLookUpResponseDTO"}}}}}}},"/useraccounts/accesscode":{"get":{"tags":["user-controller"],"operationId":"isUserAccessCodeExist","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/updateemailpref":{"get":{"tags":["user-controller"],"operationId":"updateEmailPreference","parameters":[{"name":"pref","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/transactions":{"get":{"tags":["transactions-controller"],"operationId":"findTransactions","parameters":[{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":false,"schema":{"type":"string"}},{"name":"enddate","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"txDateTime"}},{"name":"sortdirection","in":"query","required":false,"schema":{"type":"string","default":"DESC","enum":["ASC","DESC"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindTransactionsResponseDTO"}}}}}}},"/surveys/{surveyid}":{"get":{"tags":["survey-controller"],"operationId":"getSurvey","parameters":[{"name":"surveyid","in":"path","required":true,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetSurveyResponseDTO"}}}}}}},"/stores":{"get":{"tags":["client-controller"],"operationId":"findStoresByClient","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"title"}},{"name":"sortdirection","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"latitude","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"radius","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"langCode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindStoresResponseDTO"}}}}}}},"/segments/segments-by-customer":{"get":{"tags":["segment-controller"],"operationId":"findSegmentsByCustomer","parameters":[{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindCustomerSegmentsResponseDTO"}}}}}}},"/recaptcha/cache/{clientId}":{"get":{"tags":["recaptcha-controller"],"operationId":"getCache","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/presetorder/{code}":{"get":{"tags":["preset-order-controller"],"operationId":"getPresetOrder","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}},{"name":"languagecode","in":"query","required":false,"schema":{"type":"string"}},{"name":"inc-user-language","in":"header","required":false,"schema":{"type":"string"}},{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresetOrderResponseDTO"}}}}}}},"/orders/{orderid}":{"get":{"tags":["order-controller"],"operationId":"viewOrderById","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ViewOrderResponseDTO"}}}}}}},"/orders/{orderid}/paymentstatus":{"get":{"tags":["order-payment-controller"],"operationId":"checkOrderPaymentStatus","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDTO"}}}}}}},"/orders/{orderid}/calculatetotal":{"get":{"tags":["total-controller"],"operationId":"calculatePrice","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderTotalDTO"}}}}}}},"/orders-history":{"get":{"tags":["order-controller"],"operationId":"listOrdersHistory","parameters":[{"name":"startDate","in":"query","required":true,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"imhereeligible","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"orderFulfillTime","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"langCode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderHistoryResponseWithPagingDTO"}}}}}}},"/orderoffers/disablenextvisitoffers":{"get":{"tags":["order-offers-controller"],"operationId":"disableNextVisitOffers","responses":{"200":{"description":"OK"}}}},"/offers/{offerid}":{"get":{"tags":["offers-controller"],"operationId":"getOffer","parameters":[{"name":"offerid","in":"path","required":true,"schema":{"type":"string"}},{"name":"languagecode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOfferResponseDTO"}}}}}}},"/oauth2/authorizationCode/google":{"get":{"tags":["oauth-2-controller"],"operationId":"authorizationCode","parameters":[{"name":"clientId","in":"query","required":true,"schema":{"type":"string"}},{"name":"authorizationCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/mygiftcard":{"get":{"tags":["gift-card-controller"],"operationId":"myGiftCard","parameters":[{"name":"sourceType","in":"query","required":true,"schema":{"type":"string"}},{"name":"cardIdentifier","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MyGiftCardResponseDTO"}}}}}}},"/messages/{messageid}":{"get":{"tags":["message-controller"],"operationId":"findMessage","parameters":[{"name":"messageid","in":"path","required":true,"schema":{"type":"string"}},{"name":"languagecode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDTO"}}}}}}},"/loyaltypointssummary":{"get":{"tags":["loyalty-controller"],"operationId":"findLoyaltyPointsSummary","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoyaltyPointsSummaryDTO"}}}}}}},"/loyaltyaccounts/next-expiring-points":{"get":{"tags":["loyalty-controller"],"operationId":"getNextExpiringLoyaltyPoints","parameters":[{"name":"noofdays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NextExpiringLoyaltyPointsResponseDTO"}}}}}}},"/loyaltyaccounts/expiring-points":{"get":{"tags":["loyalty-controller"],"operationId":"getExpiringLoyaltyPoints","parameters":[{"name":"noofdays","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"expiryDate"}},{"name":"sortdirection","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpiringLoyaltyPointsResponseDTO"}}}}}}},"/loyaltyaccounts/accounthistory":{"get":{"tags":["loyalty-controller"],"operationId":"viewLoyalAccountHistory","parameters":[{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":false,"schema":{"type":"string"}},{"name":"enddate","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"transactionDate"}},{"name":"sortdirection","in":"query","required":false,"schema":{"type":"string","default":"DESC","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindLoyaltyHistoryResponseDTO"}}}}}}},"/locationsdetail/{locationid}":{"get":{"tags":["location-controller"],"operationId":"getLocation","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}},{"name":"langCode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationDTO"}}}}}}},"/locations":{"get":{"tags":["location-controller"],"operationId":"findLocations","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"title"}},{"name":"sortdirection","in":"query","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"latitude","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"radius","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"langCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"iscatering","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"ismenubrowsing","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"markdeliverablelocations","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"inc-is-test","in":"header","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindLocationResponseDTO"}}}}}}},"/locations/{locationid}/withindeliveryradius":{"get":{"tags":["order-availability-controller"],"operationId":"isWithinDeliveryRadius","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}},{"name":"lat","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"query","required":true,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/locations/{locationid}/overridekey":{"get":{"tags":["location-controller"],"operationId":"getOverrideKey","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}},{"name":"fulfillmentDateTime","in":"query","required":true,"schema":{"type":"string"}},{"name":"channel","in":"query","required":true,"schema":{"type":"string"}},{"name":"fulfillmentType","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/items/{itemid}":{"get":{"tags":["catalog-controller"],"operationId":"viewItemById","parameters":[{"name":"itemid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ViewItemMobileDTO"}}}}}}},"/items/outofstock/{locationId}":{"get":{"tags":["catalog-controller"],"operationId":"getOutOfStockItemIdsByLocation","parameters":[{"name":"locationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/groups/{groupid}":{"get":{"tags":["catalog-controller"],"operationId":"viewGroupById","parameters":[{"name":"groupid","in":"path","required":true,"schema":{"type":"string"}},{"name":"localDate","in":"query","required":true,"schema":{"type":"string"}},{"name":"includeChildElements","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ViewGroupMobileDTO"}}}}}}},"/giftcard/transaction/{incentiviotxid}/payment/status":{"get":{"tags":["gift-card-payment-controller"],"operationId":"checkTxPaymentStatus","parameters":[{"name":"incentiviotxid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionResponseDTO"}}}}}}},"/giftcard/tokenlookup/{token}":{"get":{"tags":["gift-card-controller"],"operationId":"cardLookupByToken","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}},{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardLookupResponse"}}}}}}},"/giftcard/securetokenlookup/{token}":{"get":{"tags":["gift-card-controller"],"operationId":"secureCardLookupByToken","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}},{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecureGiftCardLookupResponse"}}}}}}},"/externallinks":{"get":{"tags":["external-link-controller"],"operationId":"getExternalLinksList","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"externalLinkType","in":"query","required":true,"schema":{"type":"string"}},{"name":"locationId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalLinksResponseDTO"}}}}}}},"/dynamicEnvs":{"get":{"tags":["dynamic-env-controller"],"operationId":"getDynamicEnvList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DynamicEnvDTO"}}}}}}}},"/distributedoffers/{distributedofferid}":{"get":{"tags":["offers-controller"],"operationId":"getDistributedOffer","parameters":[{"name":"distributedofferid","in":"path","required":true,"schema":{"type":"string"}},{"name":"languagecode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributedOfferDTO"}}}}}}},"/distributedmessages/{distributedmessageid}":{"get":{"tags":["message-controller"],"operationId":"getDistributedMessage","parameters":[{"name":"distributedmessageid","in":"path","required":true,"schema":{"type":"string"}},{"name":"languagecode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributedMessageDTO"}}}}}}},"/devices":{"get":{"tags":["user-controller"],"operationId":"getUserDevices","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserDevicesResponseDTO"}}}}}}},"/deliveryaddresses":{"get":{"tags":["delivery-address-controller"],"operationId":"getDeliveryAddressListByClientIdAndUserId","parameters":[{"name":"clientId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDeliveryAddressResponseDTO"}}}}}},"delete":{"tags":["delivery-address-controller"],"operationId":"deleteDeliveryAddressByIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/clients/{clientid}/webappconfig":{"get":{"tags":["web-app-config-controller"],"operationId":"getWebAppConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"locationid","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebAppConfigDTO"}}}}}}},"/clients/{clientid}/clientalias":{"get":{"tags":["client-controller"],"operationId":"getAliasByClientId","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindClientResponseDTO"}}}}}}},"/clientdomain/byalias":{"get":{"tags":["client-domain-controller"],"operationId":"getClientDomainByClientAlias","parameters":[{"name":"alias","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientDomainDTO"}}}}}}}},"/clientalias/{clientAlias}":{"get":{"tags":["client-controller"],"operationId":"getClientIdByAlias","parameters":[{"name":"clientAlias","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindClientResponseDTO"}}}}}}},"/catalogs":{"get":{"tags":["catalog-controller"],"operationId":"listCatalogs","parameters":[{"name":"langCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"localDate","in":"query","required":true,"schema":{"type":"string"}},{"name":"CLIENT-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"storeIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListCatalogMobileDTO"}}}}}}}},"/cacheditems/item":{"get":{"tags":["catalog-controller"],"operationId":"readCachedItem","parameters":[{"name":"clientId","in":"query","required":true,"schema":{"type":"string"}},{"name":"storeId","in":"query","required":true,"schema":{"type":"string"}},{"name":"catalogId","in":"query","required":true,"schema":{"type":"string"}},{"name":"langCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"query","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/cachedcatalogs":{"get":{"tags":["catalog-controller"],"operationId":"retrieveCachedCatalogs","parameters":[{"name":"langCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"localDate","in":"query","required":true,"schema":{"type":"string"}},{"name":"clientId","in":"query","required":true,"schema":{"type":"string"}},{"name":"checksum","in":"query","required":true,"schema":{"type":"string"}},{"name":"storeId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/cachedcatalogs/compressed":{"get":{"tags":["catalog-controller"],"operationId":"getCompressedCachedCatalog","parameters":[{"name":"langCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"localDate","in":"query","required":true,"schema":{"type":"string"}},{"name":"clientId","in":"query","required":true,"schema":{"type":"string"}},{"name":"checksum","in":"query","required":true,"schema":{"type":"string"}},{"name":"storeId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"byte"}}}}}}},"/appoffers":{"get":{"tags":["offers-controller"],"operationId":"findDistributedOffers","parameters":[{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"languagecode","in":"query","required":false,"schema":{"type":"string"}},{"name":"loyalty","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppOffersResponseDTO"}}}}}}},"/appmessages":{"get":{"tags":["message-controller"],"operationId":"findAppMessages","parameters":[{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"languagecode","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMessageListDTO"}}}}}}},"/appdisplaymessage/{clientid}":{"get":{"tags":["multilingual-message-controller"],"operationId":"getAppDisplayMessage","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"checksum","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/appcontent":{"get":{"tags":["offers-controller"],"operationId":"getAppContent","parameters":[{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"languagecode","in":"query","required":false,"schema":{"type":"string"}},{"name":"loyalty","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppContentResponseDTO"}}}}}}},"/appconfiguration":{"get":{"tags":["app-configuration-controller"],"operationId":"getAppConfiguration","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindAppConfigurationResponseDTO"}}}}}}},"/appcompatibility":{"get":{"tags":["user-controller"],"operationId":"checkCompatibility","parameters":[{"name":"platform","in":"query","required":true,"schema":{"type":"string"}},{"name":"sdkversion","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckCompatibilityResponseDTO"}}}}}}},"/app-home-config":{"get":{"tags":["app-home-config-controller"],"operationId":"getAppHomeConfig","parameters":[{"name":"CLIENTID","in":"header","required":true,"schema":{"type":"string"}},{"name":"USERID","in":"header","required":false,"schema":{"type":"string"}},{"name":"Inc-Timezone","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppHomeConfigDTO"}}}}}}},"/":{"get":{"tags":["home-controller"],"operationId":"home","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/orders/{orderid}/orderitems/{orderitemid}":{"delete":{"tags":["order-item-controller"],"operationId":"deleteOrderItem","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"orderitemid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderUpdateSummaryDTO"}}}}}}},"/ml/mobile/**":{"get":{"tags":["ml-controller"],"operationId":"routeMLRequest","parameters":[{"name":"body","in":"query","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"put":{"tags":["ml-controller"],"operationId":"routeMLRequest_3","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"post":{"tags":["ml-controller"],"operationId":"routeMLRequest_2","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"delete":{"tags":["ml-controller"],"operationId":"routeMLRequest_5","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"options":{"tags":["ml-controller"],"operationId":"routeMLRequest_6","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"head":{"tags":["ml-controller"],"operationId":"routeMLRequest_1","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}},"patch":{"tags":["ml-controller"],"operationId":"routeMLRequest_4","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"Address":{"type":"object","properties":{"streetAddress1":{"type":"string"},"streetAddress2":{"type":"string"},"city":{"type":"string"},"postalCode":{"type":"string"},"region":{"type":"string"},"country":{"type":"string"},"aptSuite":{"type":"string"}}},"CompletePasswordlessProfileRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"},"phoneNumber":{"type":"string"},"howAcquired":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"dateOfBirth":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE"]},"address":{"$ref":"#/components/schemas/Address"},"referralCode":{"type":"string"},"baseLanguagePreference":{"type":"string"},"extendedAttributes":{"type":"object","additionalProperties":{"type":"string"}}}},"UpdateIncompleteUserAccountRequestDTO":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"password":{"type":"string"},"phoneNumber":{"type":"string"},"dateOfBirth":{"type":"string"}}},"SubmitAnswerRequestDTO":{"required":["questionId"],"type":"object","properties":{"questionId":{"type":"string"},"userId":{"type":"string"},"choiceIds":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"textAnswer":{"type":"string"}}},"SubmitAnswersRequestDTO":{"type":"object","properties":{"answers":{"type":"array","items":{"$ref":"#/components/schemas/SubmitAnswerRequestDTO"}}}},"AddressDTO":{"required":["city","country","postalCode","state","street1"],"type":"object","properties":{"addressId":{"type":"string"},"addressAlias":{"type":"string"},"street1":{"type":"string"},"street2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"},"lat":{"type":"number","format":"double"},"lon":{"type":"number","format":"double"},"aptSuite":{"type":"string"}}},"CreateDeliveryAddressRequestDTO":{"required":["clientId"],"type":"object","properties":{"id":{"type":"string"},"clientId":{"type":"string"},"userId":{"type":"string"},"addresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressDTO"}}}},"CreateDeliveryAddressResponseDTO":{"type":"object","properties":{"id":{"type":"string"}}},"CreateOrderRequestDTO":{"type":"object","properties":{"clientId":{"type":"string"},"userId":{"type":"string"},"orderId":{"type":"string"},"locationId":{"type":"string"},"orderName":{"type":"string"},"orderType":{"type":"string","enum":["DELIVERY","PICKUP","DINEIN"]},"customer":{"$ref":"#/components/schemas/CustomerDTO"},"guestCount":{"type":"integer","format":"int32"},"tableNumber":{"type":"string"},"delivery":{"$ref":"#/components/schemas/Delivery"},"requestedFulfillTime":{"type":"string"},"revenueCenter":{"type":"string"},"orderNote":{"type":"string"},"orderSource":{"type":"string","enum":["APP","WEB","POS","KIOSK","GOOGLE_ORDERING"]},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"restrictedOrder":{"type":"boolean"},"presetOrderId":{"type":"string"},"languageCode":{"type":"string"}}},"CustomerDTO":{"type":"object","properties":{"customerId":{"type":"string"},"extCustomerId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"}}},"Delivery":{"type":"object","properties":{"deliveryAddress":{"$ref":"#/components/schemas/Address"},"deliveryInstructions":{"type":"string"}}},"CreateOrderResponseDTO":{"type":"object","properties":{"orderId":{"type":"string"}}},"AddOrderItemReqDTO":{"required":["itemId","quantity"],"type":"object","properties":{"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"catalogId":{"type":"string"},"discountIds":{"type":"array","items":{"type":"string"}},"externalId":{"type":"string"},"groupId":{"type":"string"},"itemId":{"type":"string"},"itemInstructions":{"type":"string"},"note":{"type":"string"},"quantity":{"type":"integer","format":"int32"}}},"OrderItemDTO":{"required":["itemId","orderItemId","quantity"],"type":"object","properties":{"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"catalogId":{"type":"string"},"discountIds":{"type":"array","items":{"type":"string"}},"externalId":{"type":"string"},"groupId":{"type":"string"},"itemId":{"type":"string"},"itemInstructions":{"type":"string"},"note":{"type":"string"},"options":{"type":"array","items":{"$ref":"#/components/schemas/AddOrderItemReqDTO"}},"quantity":{"type":"integer","format":"int32"},"orderItemId":{"type":"string"}}},"UpdateOrderItemReqDTO":{"type":"object","properties":{"orderItems":{"type":"array","items":{"$ref":"#/components/schemas/OrderItemDTO"}}}},"ChargeSummary":{"type":"object","properties":{"taxableCharges":{"type":"integer","format":"int32"},"nonTaxableCharges":{"type":"integer","format":"int32"},"totalCharges":{"type":"integer","format":"int32"},"charges":{"type":"array","items":{"$ref":"#/components/schemas/OrderCharge"}},"displayTaxableCharges":{"type":"string"},"displayNonTaxableCharges":{"type":"string"},"displayTotalCharges":{"type":"string"}}},"DisplayInfo":{"type":"object","properties":{"langCode":{"type":"string"},"title":{"type":"string"},"shortDescription":{"type":"string"},"longDescription":{"type":"string"},"smallImage":{"type":"array","items":{"type":"string"}},"mediumImage":{"type":"array","items":{"type":"string"}}}},"ItemTotal":{"type":"object","properties":{"preDiscountSubtotal":{"type":"integer","format":"int32"},"taxSummary":{"$ref":"#/components/schemas/TaxSummary"},"chargeSummary":{"$ref":"#/components/schemas/ChargeSummary"},"appliedDiscount":{"type":"integer","format":"int32"},"subtotal":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int32"},"displayPreDiscountSubtotal":{"type":"string"},"displayAppliedDiscount":{"type":"string"},"displaySubtotal":{"type":"string"},"displayTotal":{"type":"string"},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}}}},"ItemsCountDTO":{"type":"object","properties":{"totalItemsCount":{"type":"integer","format":"int32"},"itemsCount":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}},"OrderCharge":{"type":"object","properties":{"chargeId":{"type":"string"},"chargeName":{"type":"string"},"chargeDescription":{"type":"string"},"taxable":{"type":"boolean"},"gratuity":{"type":"boolean"},"delivery":{"type":"boolean"},"chargeApplied":{"type":"integer","format":"int32"},"displayChargeApplied":{"type":"string"}}},"OrderDiscount":{"type":"object","properties":{"discountId":{"type":"string"},"extDiscountId":{"type":"string"},"description":{"type":"string"},"amountOfDiscount":{"type":"integer","format":"int32"},"distributedOfferId":{"type":"string"},"discountType":{"type":"string"},"pointsCost":{"type":"integer","format":"int32"},"discountAmount":{"type":"integer","format":"int32"},"discountPercentage":{"type":"number","format":"float"},"appliedDiscount":{"type":"integer","format":"int32"},"displayAppliedDiscount":{"type":"string"}}},"OrderItem":{"type":"object","properties":{"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"basePrice":{"type":"integer","format":"int32"},"brandId":{"type":"string"},"catalogId":{"type":"string"},"categoryId":{"type":"string"},"displayInfo":{"$ref":"#/components/schemas/DisplayInfo"},"displayInfoTitle":{"type":"string"},"extCatalogId":{"type":"string"},"externalId":{"type":"string"},"group":{"$ref":"#/components/schemas/OrderItemGroup"},"itemDiscounts":{"type":"array","items":{"$ref":"#/components/schemas/OrderDiscount"}},"itemId":{"type":"string"},"itemInstructions":{"type":"string"},"itemName":{"type":"string"},"itemTotal":{"$ref":"#/components/schemas/ItemTotal"},"notes":{"type":"string"},"options":{"type":"array","items":{"$ref":"#/components/schemas/OrderItem"}},"orderItemId":{"type":"string"},"privateAttributes":{"type":"object","additionalProperties":{"type":"string"}},"quantity":{"type":"integer","format":"int32"},"sku":{"type":"string"},"unitPrice":{"type":"integer","format":"int32"},"uom":{"type":"string"},"upc":{"type":"string"},"taxable":{"type":"boolean"}}},"OrderItemGroup":{"type":"object","properties":{"groupId":{"type":"string"},"groupExtId":{"type":"string"},"groupType":{"type":"string","enum":["CATALOG_GROUP","OPTION_GROUP"]},"groupName":{"type":"string"},"privateAttributes":{"type":"object","additionalProperties":{"type":"string"}}}},"OrderTax":{"type":"object","properties":{"taxId":{"type":"string"},"taxDescription":{"type":"string"},"taxAmountApplied":{"type":"integer","format":"int32"},"displayTaxAmountApplied":{"type":"string"}}},"OrderTotal":{"type":"object","properties":{"preDiscountSubtotal":{"type":"integer","format":"int32"},"taxSummary":{"$ref":"#/components/schemas/TaxSummary"},"chargeSummary":{"$ref":"#/components/schemas/ChargeSummary"},"totalDiscountApplied":{"type":"integer","format":"int32"},"subtotal":{"type":"integer","format":"int32"},"gratuity":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int32"},"displayTotal":{"type":"string"},"displaySubtotal":{"type":"string"},"displayTotalDiscountApplied":{"type":"string"},"displayGratuity":{"type":"string"},"displayPreDiscountSubtotal":{"type":"string"},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}}}},"OrderUpdateSummaryDTO":{"type":"object","properties":{"itemsCountDetails":{"$ref":"#/components/schemas/ItemsCountDTO"},"orderItems":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OrderItem"}},"orderTotal":{"$ref":"#/components/schemas/OrderTotal"}}},"TaxSummary":{"type":"object","properties":{"totalTaxes":{"type":"integer","format":"int32"},"taxes":{"type":"array","items":{"$ref":"#/components/schemas/OrderTax"}},"displayTotalTaxes":{"type":"string"}}},"AddOrderItemListReqDTO":{"type":"object","properties":{"orderItems":{"type":"array","items":{"$ref":"#/components/schemas/AddOrderItemReqDTO"}}}},"UpsertLoyaltyAccountExternalIdDTO":{"type":"object","properties":{"externalId":{"type":"string"}}},"UpsertLoyaltyCardRequestDTO":{"type":"object","properties":{"loyaltyCardId":{"type":"string"}}},"UserAccountLightResponseDTO":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}},"VerifyEmailResponseDTO":{"type":"object","properties":{"clientId":{"type":"string"},"emailAddress":{"type":"string"},"status":{"type":"string"},"userAccount":{"$ref":"#/components/schemas/UserAccountLightResponseDTO"}}},"ImHereRequestDTO":{"type":"object","properties":{"orderId":{"type":"string"}}},"ImHereResponseDTO":{"type":"object","properties":{"message":{"type":"string"}}},"LoginRequestDTO":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"},"rememberme":{"type":"boolean"}}},"LoginResponseDTO":{"type":"object","properties":{"accountID":{"type":"string"},"accountAlias":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"cookieValue":{"type":"string"}}},"CreateUserAccountRequestDTO":{"required":["baseLanguagePrefrerence","email","firstName","howAcquired","lastName","password"],"type":"object","properties":{"address":{"$ref":"#/components/schemas/Address"},"authenticationProvider":{"type":"string","enum":["APPLE","GOOGLE","INCENTIVIO","OTP"]},"baseLanguagePrefrerence":{"type":"string"},"dateOfBirth":{"type":"string"},"email":{"type":"string"},"extendedAttributes":{"type":"object","additionalProperties":{"type":"string"}},"firstName":{"type":"string"},"gender":{"type":"string"},"household":{"$ref":"#/components/schemas/HouseholdDTO"},"howAcquired":{"type":"string"},"jwt":{"type":"string"},"lastName":{"type":"string"},"password":{"type":"string"},"phoneNumber":{"type":"string"},"referralCode":{"type":"string"},"userProfileImageUrl":{"type":"string"}}},"HouseholdDTO":{"type":"object","properties":{"title":{"type":"string"}}},"CreateUserAccountResponseDTO":{"type":"object","properties":{"userId":{"type":"string"},"referralId":{"type":"string"},"verified":{"type":"boolean"}}},"CreateSMSUserAccountRequestDTO":{"required":["phoneNumber"],"type":"object","properties":{"phoneNumber":{"type":"string"}}},"CreateSMSUserAccountResponseDTO":{"type":"object","properties":{"accountAliasId":{"type":"string"},"phoneNumber":{"type":"string"}}},"RedeemOfferAPIRequestDTO":{"required":["transactionDate"],"type":"object","properties":{"userId":{"type":"string"},"qrCodeValue":{"type":"string"},"transactionDate":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"distributedOfferId":{"type":"string"}}},"PurchaseECardRequestDTO":{"required":["amount","paymentType","sourceType"],"type":"object","properties":{"clientId":{"type":"string"},"userId":{"type":"string"},"amount":{"type":"integer","format":"int32"},"locationId":{"type":"string"},"sourceType":{"type":"string"},"paymentType":{"type":"string","enum":["CARD_NOT_PRESENT","CARD_PRESENT","CASH","THIRD_PARTY","APPLE_PAY","ANDROID_PAY","SAMSUNG_PAY","NO_PAYMENT","GOOGLE_PAY","ONE_TIME_TOKEN","PERMANENT_TOKEN","GIFT_CARD","PAYMENT_SKIPPED"]},"paymentMode":{"type":"string","enum":["PAYMENT_MANDATORY","PAYMENT_OPTIONAL","NO_PAYMENT"]},"paymentToken":{"type":"string"},"cardType":{"type":"string"},"paymentMethodType":{"type":"string"},"zipCode":{"type":"string"},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"isOneTimeTransaction":{"type":"boolean"},"expirationYear":{"type":"integer","format":"int32"},"expirationMonth":{"type":"integer","format":"int32"},"oneTimeTransaction":{"type":"boolean"}}},"PurchaseECardResponseDTO":{"type":"object","properties":{"clientId":{"type":"string"},"userId":{"type":"string"},"cardIdentifier":{"type":"string"},"cardAccountBalance":{"type":"number","format":"double"},"cardStatus":{"type":"string","enum":["ACTIVE","INACTIVE"]},"status":{"type":"string"},"cardType":{"type":"string"},"image":{"type":"string"},"token":{"type":"string"},"default":{"type":"boolean"}}},"RedeemOfferResponseDTO":{"type":"object","properties":{"pointsRedeemed":{"type":"integer","format":"int32"},"totalPointsBalance":{"type":"integer","format":"int32"},"smallImage":{"type":"string"},"mediumImage":{"type":"string"}}},"AddPaymentInstrumentRequestDTO":{"type":"object","properties":{"clientId":{"type":"string"},"locationId":{"type":"string"},"userId":{"type":"string"},"paymentType":{"type":"string"},"paymentToken":{"type":"string"},"lastFour":{"type":"string"},"cardSecurityCode":{"type":"string"},"nickname":{"type":"string"},"zipCode":{"type":"string"},"isDefault":{"type":"boolean"},"tokenType":{"type":"string"},"sourceType":{"type":"string"},"expirationMonth":{"type":"integer","format":"int32"},"expirationYear":{"type":"integer","format":"int32"},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"default":{"type":"boolean"}}},"AddPaymentInstrumentResponseDTO":{"type":"object","properties":{"paymentInstrumentId":{"type":"string"}}},"RemoveOfferRequestDTO":{"type":"object","properties":{"offerId":{"type":"string"},"userId":{"type":"string"}}},"Check":{"type":"object","properties":{"checkId":{"type":"string"},"extCheckId":{"type":"string"},"customer":{"$ref":"#/components/schemas/Customer"},"amount":{"type":"integer","format":"int32"},"gratuity":{"type":"integer","format":"int32"},"payments":{"type":"array","items":{"$ref":"#/components/schemas/Payment"}}}},"Customer":{"type":"object","properties":{"customerId":{"type":"string"},"extCustomerId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"}}},"Payment":{"type":"object","properties":{"paymentTxId":{"type":"string"},"externalTxId":{"type":"string"},"paidDate":{"type":"string"},"paymentType":{"type":"string","enum":["CARD_NOT_PRESENT","CARD_PRESENT","CASH","THIRD_PARTY","APPLE_PAY","ANDROID_PAY","SAMSUNG_PAY","NO_PAYMENT","GOOGLE_PAY","ONE_TIME_TOKEN","PERMANENT_TOKEN","GIFT_CARD","PAYMENT_SKIPPED"]},"cardType":{"type":"string"},"lastFour":{"type":"string"},"amount":{"type":"integer","format":"int32"},"tipAmount":{"type":"integer","format":"int32"},"amountTendered":{"type":"integer","format":"int32"}}},"ViewOrderResponseDTO":{"type":"object","properties":{"orderId":{"type":"string"},"clientId":{"type":"string"},"merchantId":{"type":"string"},"locationId":{"type":"string"},"extOrderId":{"type":"string"},"orderName":{"type":"string"},"orderNumber":{"type":"string"},"orderType":{"type":"string","enum":["DELIVERY","PICKUP","DINEIN"]},"customer":{"$ref":"#/components/schemas/Customer"},"guestCount":{"type":"integer","format":"int32"},"tableId":{"type":"string"},"delivery":{"$ref":"#/components/schemas/Delivery"},"openedTime":{"type":"string"},"closedTime":{"type":"string"},"status":{"type":"string","enum":["OPEN","CLOSED","CANCELED","SYNC_PENDING"]},"orderFulfillTime":{"type":"string"},"revenueCenter":{"type":"string"},"orderItems":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OrderItem"}},"orderDiscounts":{"type":"array","items":{"$ref":"#/components/schemas/OrderDiscount"}},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"checks":{"type":"array","items":{"$ref":"#/components/schemas/Check"}},"orderTotal":{"$ref":"#/components/schemas/OrderTotal"},"itemsCountDetails":{"$ref":"#/components/schemas/ItemsCountDTO"},"orderNote":{"type":"string"},"orderSource":{"type":"string","enum":["APP","WEB","POS","KIOSK","GOOGLE_ORDERING"]},"guestOrderVerified":{"type":"boolean"}}},"BillingAddress":{"type":"object","properties":{"name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"country":{"type":"string"},"phoneNumber":{"type":"string"}}},"OrderOptionInfo":{"type":"object","properties":{"optionName":{"type":"string"},"information":{"type":"string"},"optionDescription":{"type":"string"}}},"PaymentRequestDTO":{"required":["email","firstName","lastName","phone","userId"],"type":"object","properties":{"userId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"paymentMode":{"type":"string","enum":["PAYMENT_MANDATORY","PAYMENT_OPTIONAL","NO_PAYMENT"]},"paymentType":{"type":"string","enum":["CARD_NOT_PRESENT","CARD_PRESENT","CASH","THIRD_PARTY","APPLE_PAY","ANDROID_PAY","SAMSUNG_PAY","NO_PAYMENT","GOOGLE_PAY","ONE_TIME_TOKEN","PERMANENT_TOKEN","GIFT_CARD","PAYMENT_SKIPPED"]},"paymentToken":{"type":"string"},"cardType":{"type":"string"},"expirationYear":{"type":"integer","format":"int32"},"expirationMonth":{"type":"integer","format":"int32"},"gratuity":{"type":"integer","format":"int32"},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"deliveryInstructions":{"type":"string"},"orderNote":{"type":"string"},"tableNumber":{"type":"string"},"isOneTimeTransaction":{"type":"boolean"},"paymentMethodType":{"type":"string"},"zipCode":{"type":"string"},"sourceType":{"type":"string"},"orderOptionInfo":{"$ref":"#/components/schemas/OrderOptionInfo"},"cardNickname":{"type":"string"},"savePaymentInstrument":{"type":"boolean"},"billingAddress":{"$ref":"#/components/schemas/BillingAddress"}}},"InitOrderResponseDTO":{"type":"object","properties":{"otherData":{"type":"string"},"attributes":{"type":"object","additionalProperties":{"type":"string"}},"paymentConfigs":{"type":"array","items":{"$ref":"#/components/schemas/PaymentConfig"}}}},"PaymentConfig":{"type":"object","properties":{"orderType":{"type":"string","enum":["DELIVERY","PICKUP","DINEIN"]},"paymentModes":{"type":"array","items":{"type":"string","enum":["PAYMENT_MANDATORY","PAYMENT_OPTIONAL","NO_PAYMENT"]}},"placePOSOrdersAsOpen":{"type":"boolean"},"guestCheckoutSupported":{"type":"boolean"}}},"ItemTotalDTO":{"type":"object","properties":{"preDiscountSubtotal":{"type":"integer","format":"int32"},"subtotal":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int32"},"taxSummary":{"$ref":"#/components/schemas/TaxSummary"},"chargeSummary":{"$ref":"#/components/schemas/ChargeSummary"},"optionsTotal":{"type":"integer","format":"int32"},"optionsDiscountedTotal":{"type":"integer","format":"int32"},"itemPrice":{"type":"integer","format":"int32"},"itemDisountedPrice":{"type":"integer","format":"int32"}}},"PaymentResponseDTO":{"type":"object","properties":{"orderStatus":{"type":"string","enum":["ORDER_SUCCESS","ORDER_PENDING","ORDER_REVERSAL_SUCCESS","ORDER_REVERSAL_FAILED","ORDER_REVERSAL_NOT_SUPPORTED","ORDER_PROCESSOR_TIMEOUT","ORDER_PROCESSING_ERROR","PAYMENT_SUCCESS","PAYMENT_3DS2_AUTHENTICATION_PENDING","PAYMENT_SKIPPED","PAYMENT_DECLINED","PAYMENT_PENDING","PAYMENT_PROCESSOR_TIMEOUT","PAYMENT_GATEWAY_ERROR","INSUFFICIENT_FUNDS","INSUFFICIENT_GIFT_CARD_FUNDS","INVALID_PAYMENT_DETAILS","PAYMENT_PROCESSING_ERROR","PAYMENT_REVERSAL_SUCCESS","PAYMENT_REVERSAL_FAILED","CARD_VERFICATION_SUCCESS","CARD_VERFICATION_FAILED","CARD_VERFICATION_ISSUER_DECLINE","CARD_AVS_VERFICATION_FAILED","CARD_VERIFICATION_AVS_ZIP_CODE_MISMATCH","CARD_3DS_VERIFICATION_FAILED","PAYMENT_ISSUER_TIMEOUT","CARD_EXPIRED","PAYMENT_TX_NOT_FOUND","INVALID_INPUTS","CARD_NOT_SUPPORTED","PAYMENT_METHOD_ERROR","REDEMPTION_ERROR","INTERNAL_SERVER_ERROR","CONFIGURATION_ERROR","PRICE_CALCULATION_SUCCESS","PRICE_CALCULATION_FAILED","PRICE_CALCULATION_TIMEOUT","CVV2_MISMATCH","CVV_REJECTED","DUPLICATE_TRANSACTION"]},"orderCreatedDate":{"type":"string"},"externalOrderId":{"type":"string"},"orderId":{"type":"string"},"orderNumber":{"type":"string"},"amountTendered":{"type":"integer","format":"int32"},"orderFulfillTime":{"type":"string"},"trackingUrl":{"type":"string"},"externalStatuses":{"type":"object","additionalProperties":{"type":"string"}}}},"ApplyOfferRequestDTO":{"required":["localDateTime"],"type":"object","properties":{"distributedOfferId":{"type":"string"},"offerId":{"type":"string"},"pointsToSpend":{"type":"integer","format":"int32"},"amountToRedeem":{"type":"number","format":"float"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"localDateTime":{"type":"string"},"userId":{"type":"string"},"orderOptionType":{"type":"string"}}},"GuestOrderVerificationRequest":{"type":"object","properties":{"orderId":{"type":"string"},"recipient":{"type":"string"}}},"GuestOrderVerificationResponse":{"type":"object","properties":{"orderId":{"type":"string"},"expirationMinutes":{"type":"integer","format":"int64"}}},"InitOrderRequestDTO":{"type":"object","properties":{"attributes":{"type":"object","additionalProperties":{"type":"string"}},"cardType":{"type":"string"},"lastFour":{"type":"string"},"locationId":{"type":"string"},"merchantId":{"type":"string"},"orderId":{"type":"string"},"otherData":{"type":"string"},"paymentToken":{"type":"string"}}},"GetOrderOffersRequestDTO":{"required":["localDateTime"],"type":"object","properties":{"orderId":{"type":"string"},"incentivioOrderId":{"type":"string"},"languageCode":{"type":"string"},"merchantId":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"localDateTime":{"type":"string"},"locationId":{"type":"string"},"orderItems":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OfferOrderItem"}},"orderType":{"type":"string"},"orderOptionType":{"type":"string"},"subTotal":{"type":"integer","format":"int32"},"evaluateOnlyUserOffers":{"type":"boolean"}}},"OfferOrderItem":{"type":"object","properties":{"orderItemId":{"type":"string"},"itemId":{"type":"string"},"externalId":{"type":"string"},"group":{"$ref":"#/components/schemas/OrderItemGroup"},"groupId":{"type":"string"},"sku":{"type":"string"},"upc":{"type":"string"},"catalogId":{"type":"string"},"extCatalogId":{"type":"string"},"brandId":{"type":"string"},"categoryId":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"options":{"type":"array","items":{"$ref":"#/components/schemas/OfferOrderItem"}}}},"ItemQualifier":{"type":"object","properties":{"qualifierItemAttribute":{"type":"string","enum":["CATALOG","GROUP","ITEM","BRAND","CATEGORY"]},"qualifierItems":{"type":"array","items":{"$ref":"#/components/schemas/QualifyingItem"}},"qualifierSelectionMode":{"type":"string","enum":["ONE","ALL"]}}},"OrderOfferDTO":{"type":"object","properties":{"distributedOfferId":{"type":"string"},"offerId":{"type":"string"},"clientId":{"type":"string"},"merchantId":{"type":"string"},"offerCode":{"type":"string"},"codeFormat":{"type":"string"},"title":{"type":"string"},"shortDescription":{"type":"string"},"longDescription":{"type":"string"},"smallImage":{"type":"string"},"mediumImage":{"type":"string"},"status":{"type":"string","enum":["NEW","SAVED","READ","EXPIRED","DELETED","SYSTEM_REDEEMED","USER_REDEEMED"]},"redemptionEndDate":{"type":"string"},"distributedDate":{"type":"string"},"updatedDate":{"type":"string"},"pointsCost":{"type":"integer","format":"int32"},"availablePoints":{"type":"integer","format":"int32"},"availableBalance":{"type":"number","format":"float"},"discountType":{"type":"string","enum":["AMOUNT","PERCENTAGE"]},"discountPercentage":{"type":"number","format":"float"},"discountAmount":{"type":"integer","format":"int32"},"variablePoints":{"type":"boolean"},"variableAmount":{"type":"boolean"},"requiredItems":{"$ref":"#/components/schemas/ItemQualifier"},"applyOfferOnNextVisit":{"type":"boolean"}}},"OrderOfferListResponseDTO":{"type":"object","properties":{"applicableOffers":{"type":"array","items":{"$ref":"#/components/schemas/OrderOfferDTO"}},"itemRequiredOffers":{"type":"array","items":{"$ref":"#/components/schemas/OrderOfferDTO"}}}},"QualifyingItem":{"type":"object","properties":{"itemAttribute":{"type":"string","enum":["CATALOG","GROUP","ITEM","BRAND","CATEGORY"]},"attributeId":{"type":"string"},"attributeObjectName":{"type":"string"},"count":{"type":"integer","format":"int32"}}},"ApplyOfferOnNextVisitRequestDTO":{"type":"object","properties":{"distributedOfferId":{"type":"string"}}},"ApplyOfferOnNextVisitResponseDTO":{"type":"object","properties":{"appliedOfferDistributionId":{"type":"string"}}},"OrderAvailabilityRequestDTO":{"type":"object","properties":{"presetOrderId":{"type":"string"},"orderId":{"type":"string"},"address":{"$ref":"#/components/schemas/Address"},"selectedDay":{"type":"string","format":"date"}}},"OrderAvailabilityResponseDTO":{"type":"object","properties":{"pickupAvailable":{"type":"boolean"},"deliveryAvailable":{"type":"boolean"},"firstAvailablePickupTime":{"type":"string"},"firstAvailableDeliveryTime":{"type":"string"},"deliveryOffDays":{"type":"array","items":{"type":"string"}},"pickupOffDays":{"type":"array","items":{"type":"string"}},"pickupAvailableTimes":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"deliveryAvailableTimes":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"pickupTimeSlots":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/ValidatedTimeSlot"}}},"deliveryTimeSlots":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/ValidatedTimeSlot"}}},"withinDeliveryDistance":{"type":"boolean"},"timeZone":{"type":"string"},"pickupAsapAvailable":{"type":"boolean"},"deliveryAsapAvailable":{"type":"boolean"},"pickupDelayedMessage":{"type":"string"},"deliveryDelayedMessage":{"type":"string"},"maxOrderingDate":{"type":"string","format":"date"}}},"ValidatedTimeSlot":{"type":"object","properties":{"time":{"type":"string"},"valid":{"type":"boolean"}}},"CalculateAsapDurationRequestDTO":{"type":"object","properties":{"orderId":{"type":"string"},"orderType":{"type":"string","enum":["DELIVERY","PICKUP","DINEIN"]},"address":{"$ref":"#/components/schemas/Address"}}},"CalculateAsapDurationResponseDTO":{"type":"object","properties":{"orderType":{"type":"string","enum":["DELIVERY","PICKUP","DINEIN"]},"asapAvailable":{"type":"boolean"},"asapDuration":{"type":"integer","format":"int32"}}},"OrderTotalDTO":{"type":"object","properties":{"preDiscountSubtotal":{"type":"integer","format":"int32"},"taxSummary":{"$ref":"#/components/schemas/TaxSummary"},"chargeSummary":{"$ref":"#/components/schemas/ChargeSummary"},"subtotal":{"type":"integer","format":"int32"},"gratuity":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int32"},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}}}},"GiftCardRecipient":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"message":{"type":"string"}}},"GiftCardSender":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"customerId":{"type":"string"},"adminId":{"type":"string"}}},"PurchaseAndEmailGiftCardRequestDTO":{"required":["amount","paymentType","sourceType"],"type":"object","properties":{"clientId":{"type":"string"},"userId":{"type":"string"},"amount":{"type":"integer","format":"int32"},"locationId":{"type":"string"},"sourceType":{"type":"string"},"paymentType":{"type":"string","enum":["CARD_NOT_PRESENT","CARD_PRESENT","CASH","THIRD_PARTY","APPLE_PAY","ANDROID_PAY","SAMSUNG_PAY","NO_PAYMENT","GOOGLE_PAY","ONE_TIME_TOKEN","PERMANENT_TOKEN","GIFT_CARD","PAYMENT_SKIPPED"]},"paymentMode":{"type":"string","enum":["PAYMENT_MANDATORY","PAYMENT_OPTIONAL","NO_PAYMENT"]},"paymentToken":{"type":"string"},"cardType":{"type":"string"},"paymentMethodType":{"type":"string"},"zipCode":{"type":"string"},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"isOneTimeTransaction":{"type":"boolean"},"expirationYear":{"type":"integer","format":"int32"},"expirationMonth":{"type":"integer","format":"int32"},"recipient":{"$ref":"#/components/schemas/GiftCardRecipient"},"sender":{"$ref":"#/components/schemas/GiftCardSender"},"from":{"type":"string"},"oneTimeTransaction":{"type":"boolean"}}},"PreparePaymentResponseDTO":{"type":"object","properties":{"attributes":{"type":"object","additionalProperties":{"type":"string"}}}},"GiftCardLookupRequest":{"type":"object","properties":{"clientId":{"type":"string"},"cardNumber":{"type":"string"},"securityCode":{"type":"string"},"errorOnAssigned":{"type":"boolean"}}},"GiftCardNumberLookupResponse":{"type":"object","properties":{"token":{"type":"string"}}},"AddValueRequestDTO":{"required":["amount","cardIdentifier","paymentType","sourceType"],"type":"object","properties":{"clientId":{"type":"string"},"userId":{"type":"string"},"amount":{"type":"integer","format":"int32"},"cardIdentifier":{"type":"string"},"locationId":{"type":"string"},"sourceType":{"type":"string"},"paymentType":{"type":"string","enum":["CARD_NOT_PRESENT","CARD_PRESENT","CASH","THIRD_PARTY","APPLE_PAY","ANDROID_PAY","SAMSUNG_PAY","NO_PAYMENT","GOOGLE_PAY","ONE_TIME_TOKEN","PERMANENT_TOKEN","GIFT_CARD","PAYMENT_SKIPPED"]},"paymentMode":{"type":"string","enum":["PAYMENT_MANDATORY","PAYMENT_OPTIONAL","NO_PAYMENT"]},"paymentToken":{"type":"string"},"cardType":{"type":"string"},"paymentMethodType":{"type":"string"},"zipCode":{"type":"string"},"additionalAttributes":{"type":"object","additionalProperties":{"type":"string"}},"isOneTimeTransaction":{"type":"boolean"},"expirationYear":{"type":"integer","format":"int32"},"expirationMonth":{"type":"integer","format":"int32"},"oneTimeTransaction":{"type":"boolean"}}},"AddValueResponseDTO":{"type":"object","properties":{"clientId":{"type":"string"},"userId":{"type":"string"},"cardIdentifier":{"type":"string"},"cardAccountBalance":{"type":"number","format":"double"},"cardStatus":{"type":"string","enum":["ACTIVE","INACTIVE"]},"status":{"type":"string"},"cardType":{"type":"string"},"image":{"type":"string"},"default":{"type":"boolean"}}},"ActivityContentRequestDTO":{"type":"object","properties":{"userId":{"type":"string"},"clientId":{"type":"string"},"languageCode":{"type":"string"},"merchantId":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"events":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"localDateTime":{"type":"string"}}},"ActivityOfferDTO":{"type":"object","properties":{"distributedOfferId":{"type":"string"},"offerId":{"type":"string"},"clientId":{"type":"string"},"merchantId":{"type":"string"},"offerCode":{"type":"string"},"codeFormat":{"type":"string"},"languageCode":{"type":"string"},"title":{"type":"string"},"shortDescription":{"type":"string"},"longDescription":{"type":"string"},"smallImage":{"type":"string"},"mediumImage":{"type":"string"},"status":{"type":"string","enum":["NEW","SAVED","READ","EXPIRED","DELETED","SYSTEM_REDEEMED","USER_REDEEMED"]},"redeemType":{"type":"string"},"purchaseTypes":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"redemptionEndDate":{"type":"string"},"distributedDate":{"type":"string"},"updatedDate":{"type":"string"},"redemptionEndDateType":{"type":"string"}}},"ActivityOfferListDTO":{"type":"object","properties":{"offers":{"type":"array","items":{"$ref":"#/components/schemas/ActivityOfferDTO"}}}},"GetActivityMessagesRequestDTO":{"required":["userId"],"type":"object","properties":{"userId":{"type":"string"},"languageCode":{"type":"string"},"merchantId":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"events":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"ActivityMessageDTO":{"type":"object","properties":{"distributedMessageId":{"type":"string"},"merchantId":{"type":"string"},"messageId":{"type":"string"},"languageCode":{"type":"string"},"title":{"type":"string"},"shortDescription":{"type":"string"},"longDescription":{"type":"string"},"smallImage":{"type":"string"},"mediumImage":{"type":"string"},"status":{"type":"string","enum":["NEW","READ","EXPIRED","DELETED"]},"distributedDate":{"type":"string"},"updatedDate":{"type":"string"},"messageType":{"type":"string","enum":["PRIVATE","SHAREABLE","REFERRAL","SURVEY"]},"surveyId":{"type":"string"},"distributedEndDate":{"type":"string"}}},"ActivityMessageListDTO":{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/ActivityMessageDTO"}}}},"ActivityContentResponseDTO":{"type":"object","properties":{"offerList":{"$ref":"#/components/schemas/ActivityOfferListDTO"},"messageList":{"$ref":"#/components/schemas/ActivityMessageListDTO"}}},"CreateExternalUserAccountRequestDTO":{"required":["baseLanguagePrefrerence","email","externalId","firstName","howAcquired","lastName","password","salt"],"type":"object","properties":{"externalId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"baseLanguagePrefrerence":{"type":"string"},"howAcquired":{"type":"string"},"password":{"type":"string"},"salt":{"type":"string"},"gender":{"type":"string"},"phoneNumber":{"type":"string"},"dateOfBirth":{"type":"string"},"address":{"$ref":"#/components/schemas/Address"}}},"MobileFileUploadResponseDTO":{"type":"object","properties":{"fileId":{"type":"string"},"metaDataUrl":{"type":"string"},"downloadUrl":{"type":"string"}}},"UpdateDistributedOfferStatusRequestDTO":{"required":["redeemStatus"],"type":"object","properties":{"distributedOfferId":{"type":"string"},"distributedOfferCode":{"type":"string"},"redeemStatus":{"type":"string","enum":["NEW","SAVED","READ","EXPIRED","DELETED","SYSTEM_REDEEMED","USER_REDEEMED"]}}},"UpdateMessageDistributionStatusRequestDTO":{"required":["distributedMessageId","status"],"type":"object","properties":{"distributedMessageId":{"type":"string"},"status":{"type":"string","enum":["NEW","READ","EXPIRED","DELETED"]}}},"AuthInitRequest":{"type":"object","properties":{"identifier":{"type":"string"},"method":{"type":"string","enum":["MAGIC_LINK","SMS_OTP"]}}},"AuthInitResponse":{"type":"object","properties":{"destination":{"type":"string"},"method":{"type":"string","enum":["MAGIC_LINK","SMS_OTP"]},"expires_in":{"type":"integer","format":"int32"},"is_new_user":{"type":"boolean"}}},"FindUserAccountResponseDTO":{"type":"object","properties":{"userId":{"type":"string"},"accountAliasId":{"type":"string"},"mergedPrimaryUserAccountId":{"type":"string"},"household":{"$ref":"#/components/schemas/HouseholdDTO"},"address":{"$ref":"#/components/schemas/Address"},"clientId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"externalId":{"type":"string"},"baseLanguagePrefrerence":{"type":"string"},"status":{"type":"string"},"howAcquired":{"type":"string"},"gender":{"type":"string"},"dateOfBirth":{"type":"string"},"extendedAttributes":{"type":"object","additionalProperties":{"type":"string"}},"userProfileImageUrl":{"type":"string"}}},"FindUserByTokenResponseDTO":{"type":"object","properties":{"userAccountDTO":{"$ref":"#/components/schemas/UserAccountDTO"},"message":{"type":"string"}}},"UserAccountDTO":{"type":"object","properties":{"userId":{"type":"string"},"clientId":{"type":"string"},"email":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE"]},"dateOfBirth":{"type":"string","format":"date-time"},"phoneNumber":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"baseLanguagePrefrerence":{"type":"string"},"aliasId":{"type":"string"},"extendedAttributes":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"emailBounced":{"type":"boolean"},"userAccountNumber":{"type":"string"},"confirmedPoints":{"type":"integer","format":"int32"},"blocked":{"type":"boolean"}}},"UserLookUpResponseDTO":{"type":"object","properties":{"contact":{"type":"string"}}},"AppliedDiscount":{"type":"object","properties":{"additionalAttribs":{"type":"object","additionalProperties":{"type":"string"}},"appliedDiscount":{"type":"integer","format":"int32"},"appliedQuantity":{"type":"integer","format":"int32"},"discountType":{"type":"string"},"distributedOfferId":{"type":"string"},"extOfferId":{"type":"string"},"incentivioDistributedOfferId":{"type":"string"},"name":{"type":"string"},"offerCode":{"type":"string"},"offerId":{"type":"string"},"voided":{"type":"boolean"}}},"FindTransactionsResponseDTO":{"type":"object","properties":{"transactions":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDTO"}},"paging":{"$ref":"#/components/schemas/PagingDTO"}}},"PagingDTO":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"count":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"}}},"Refund":{"type":"object","properties":{"refundAmount":{"type":"integer","format":"int32"},"refundBusinessDate":{"type":"string","format":"date"},"refundDate":{"type":"string","format":"date-time"},"tipRefundAmount":{"type":"integer","format":"int32"}}},"Total":{"type":"object","properties":{"dicountTotal":{"type":"integer","format":"int32"},"due":{"type":"integer","format":"int32"},"gratuity":{"type":"integer","format":"int32"},"itemTotal":{"type":"integer","format":"int32"},"nonTaxedChargeTotal":{"type":"integer","format":"int32"},"paid":{"type":"integer","format":"int32"},"processingFee":{"type":"integer","format":"int32"},"subTotal":{"type":"integer","format":"int32"},"tax":{"type":"integer","format":"int32"},"taxedChargeTotal":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int32"}}},"TransactionDTO":{"type":"object","properties":{"appliedDiscounts":{"type":"array","items":{"$ref":"#/components/schemas/AppliedDiscount"}},"businessDate":{"type":"string"},"checks":{"type":"array","items":{"$ref":"#/components/schemas/Check"}},"clientId":{"type":"string"},"closedDate":{"type":"string","format":"date-time"},"customerId":{"type":"string"},"deleted":{"type":"boolean"},"deletedDate":{"type":"string","format":"date-time"},"diningOption":{"type":"string"},"externalDiningOptionName":{"type":"string"},"externalDiningOptionId":{"type":"string"},"displayNumber":{"type":"string"},"employeeId":{"type":"string"},"employeeName":{"type":"string"},"extCustId":{"type":"string"},"extendedAttribs":{"type":"object","additionalProperties":{"type":"string"}},"extLoyaltyId":{"type":"string"},"extStoreId":{"type":"string"},"extTxId":{"type":"string"},"fullFilDate":{"type":"string","format":"date-time"},"id":{"type":"string"},"importBatchId":{"type":"string"},"importedDate":{"type":"string","format":"date-time"},"laneId":{"type":"string"},"loyaltyId":{"type":"string"},"loyaltyNumber":{"type":"string"},"loyaltyPoints":{"type":"number","format":"double"},"loyaltyStatus":{"type":"string","enum":["ALREADY_PROCESSED","FAILED","IGNORED","NOT_PROCESSED","SUCCESS"]},"loyaltyStatusModifiedTime":{"type":"string","format":"date-time"},"merchantId":{"type":"string"},"modifiedDate":{"type":"string","format":"date-time"},"openedDate":{"type":"string","format":"date-time"},"orderType":{"type":"string"},"paymentStatus":{"type":"string"},"posId":{"type":"string"},"posName":{"type":"string"},"refund":{"$ref":"#/components/schemas/Refund"},"refundStatus":{"type":"string"},"source":{"type":"string"},"storeId":{"type":"string"},"storeName":{"type":"string"},"total":{"$ref":"#/components/schemas/Total"},"transactionType":{"type":"string"},"txCreatedDate":{"type":"string","format":"date-time"},"txDateTime":{"type":"string","format":"date-time"},"txModifiedDate":{"type":"string","format":"date-time"},"txZoneId":{"type":"string"},"voided":{"type":"boolean"},"voidInfo":{"$ref":"#/components/schemas/VoidInfo"},"reImport":{"type":"boolean"}}},"VoidInfo":{"type":"object","properties":{"voidBusinessDate":{"type":"string","format":"date"},"voidDate":{"type":"string","format":"date-time"},"voidReason":{"type":"string"}}},"ChoiceDTO":{"required":["choiceDisplayInfos","choiceTitle"],"type":"object","properties":{"choiceId":{"type":"string"},"choiceTitle":{"type":"string"},"imageUrl":{"type":"string"},"isDefault":{"type":"boolean"},"positionIndex":{"type":"integer","format":"int32"},"choiceDisplayInfos":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/ChoiceDisplayInfo"}}}},"ChoiceDisplayInfo":{"type":"object","properties":{"languageCode":{"type":"string"},"title":{"type":"string"}}},"GetQuestionResponseDTO":{"type":"object","properties":{"clientId":{"type":"string"},"merchantId":{"type":"string"},"locationId":{"type":"string"},"questionId":{"type":"string"},"questionTitle":{"type":"string"},"type":{"type":"string","enum":["SINGLE_CHOICE","MULTIPLE_CHOICE","BOOLEAN","OPEN_ENDED","RATING"]},"choices":{"type":"array","items":{"$ref":"#/components/schemas/ChoiceDTO"}},"questionDisplayInfos":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/QuestionDisplayInfo"}},"isMandatory":{"type":"boolean"},"createdDateTime":{"type":"string","format":"date-time"},"modifiedDateTime":{"type":"string","format":"date-time"}}},"GetSurveyResponseDTO":{"type":"object","properties":{"surveyId":{"type":"string"},"clientId":{"type":"string"},"merchantId":{"type":"string"},"locationId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"questions":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/GetQuestionResponseDTO"}},"surveyDisplayInfos":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/SurveyDisplayInfo"}},"createdDateTime":{"type":"string","format":"date-time"},"modifiedDateTime":{"type":"string","format":"date-time"}}},"QuestionDisplayInfo":{"type":"object","properties":{"languageCode":{"type":"string"},"title":{"type":"string"},"questionDescription":{"type":"string"},"imageUrl":{"type":"string"}}},"SurveyDisplayInfo":{"type":"object","properties":{"languageCode":{"type":"string"},"title":{"type":"string"},"shortDescription":{"type":"string"},"longDescription":{"type":"string"},"imageUrl":{"type":"string"}}},"FindStoresResponseDTO":{"type":"object","properties":{"paging":{"$ref":"#/components/schemas/PagingDto"},"stores":{"type":"array","items":{"$ref":"#/components/schemas/StoreDTO"}}}},"PagingDto":{"type":"object","properties":{"count":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int64"}}},"StoreDTO":{"type":"object","propertie
[...]
