{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://adminapi.incentivio.com/incentivio-admin-api","description":"Generated server url"}],"paths":{"/toastsettings":{"put":{"tags":["spreedly-connector-controller"],"operationId":"setToastSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToastSettings"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/ml/portal/client/rules":{"put":{"tags":["ml-controller"],"operationId":"deleteRecommendationRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRuleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeleteRuleResponse"}}}}}},"post":{"tags":["ml-controller"],"operationId":"createRecommendationRules","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRuleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateRuleResponse"}}}}}}},"/ml/portal/client/location/{clientid}":{"put":{"tags":["ml-controller"],"operationId":"updateLocations","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateLocationResponse"}}}}}}},"/ml/portal/client/item/category/change":{"put":{"tags":["ml-controller"],"operationId":"changeItemCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemCategoryChaingingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryChangedItemResponse"}}}}}}},"/ml/portal/client/configuration":{"put":{"tags":["ml-controller"],"operationId":"updateConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateConfigurationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdatedConfigurationResponse"}}}}}}},"/incentivio-wallet/clients/{clientid}/walletconfig":{"get":{"tags":["wallet-controller"],"operationId":"getWalletConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletConfigDTO"}}}}}},"put":{"tags":["wallet-controller"],"operationId":"setWalletConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutWalletConfigRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletConfigDTO"}}}}}},"delete":{"tags":["wallet-controller"],"operationId":"deleteWalletConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-user-domain/customer-tags/{id}":{"get":{"tags":["customer-tag-and-rule-controller"],"operationId":"findCustomerTagById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagAndRuleDTO"}}}}}},"put":{"tags":["customer-tag-and-rule-controller"],"operationId":"updateCustomerTag","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerTagRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["customer-tag-and-rule-controller"],"operationId":"deleteCustomerTag","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/subitems":{"put":{"tags":["sub-item-controller"],"operationId":"addOrUpdatePackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubItemRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateSubItemResponseDTO"}}}}}}},"/incentivio-ordering-service/packages":{"get":{"tags":["package-controller"],"operationId":"listPackagesByClientId","parameters":[{"name":"groupId","in":"query","required":false,"schema":{"type":"string"}},{"name":"catalogId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListPackageResponseDTO"}}}}}}},"put":{"tags":["package-controller"],"operationId":"addOrUpdatePackage_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePackageRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatePackageResponseDTO"}}}}}}},"/incentivio-ordering-service/orders/{orderid}/auditevents/{eventid}":{"put":{"tags":["order-controller"],"operationId":"updateAuditEvent","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"eventid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAuditEventRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/merchants/{merchantid}":{"get":{"tags":["merchant-controller"],"operationId":"getLocationById","parameters":[{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MerchantResponseDTO"}}}}}},"put":{"tags":["merchant-controller"],"operationId":"updateMerchant","parameters":[{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMerchantRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateMerchantResponseDTO"}}}}}},"delete":{"tags":["merchant-controller"],"operationId":"deleteMerchant","parameters":[{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/locations/{locationid}":{"get":{"tags":["location-controller"],"operationId":"getLocationById_1","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}},{"name":"includeRelatedStores","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LocationResponseDTO"}}}}}},"put":{"tags":["location-controller"],"operationId":"updateLocation","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocationRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["location-controller"],"operationId":"deleteLocation","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["location-controller"],"operationId":"patchLocation","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchLocationRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/items":{"put":{"tags":["item-controller"],"operationId":"addOrUpdateItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateItemRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateItemResponseDTO"}}}}}},"patch":{"tags":["item-controller"],"operationId":"patchItems","parameters":[{"name":"storeId","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/groups":{"get":{"tags":["group-controller"],"operationId":"listGroupsByCatalogId","parameters":[{"name":"catalogId","in":"query","required":false,"schema":{"type":"string"}},{"name":"title","in":"query","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":300}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"incentivioIds","in":"query","required":false,"schema":{"type":"string"}},{"name":"externalIds","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Status"}},{"name":"type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/GroupType"}},{"name":"sortDirection","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Direction","default":"ASC"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"title"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListGroupResponseWithPagingForAdminDTO"}}}}}},"put":{"tags":["group-controller"],"operationId":"addOrUpdateGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateGroupResponseDTO"}}}}}},"patch":{"tags":["group-controller"],"operationId":"patchGroups","parameters":[{"name":"storeId","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/clients/{clientid}/presetorder/{orderid}":{"get":{"tags":["preset-order-controller"],"operationId":"getPresetOrderConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetPresetOrderConfigResponseDTO"}}}}}},"put":{"tags":["preset-order-controller"],"operationId":"updatePresetOrderConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePresetOrderConfigRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetPresetOrderConfigResponseDTO"}}}}}},"delete":{"tags":["preset-order-controller"],"operationId":"deletePresetOrderConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/catalogs":{"put":{"tags":["order-controller"],"operationId":"addOrUpdateCatalog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCatalogRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCatalogResponseDTO"}}}}}},"patch":{"tags":["order-controller"],"operationId":"patchCatalogs","parameters":[{"name":"storeId","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-menu-service/bulkimageuploads/{id}":{"get":{"tags":["bulk-image-upload-controller"],"operationId":"read","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","maxLength":24,"minLength":24}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkImageUploadReadResponse"}}}}}},"put":{"tags":["bulk-image-upload-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","maxLength":24,"minLength":24}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkImageUploadUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-giftcard-ach-service/achlocations":{"get":{"tags":["gift-card-ach-controller"],"operationId":"retrieveACHLocationsForAdmin","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ACHLocationDTO"}}}}}}},"put":{"tags":["gift-card-ach-controller"],"operationId":"updateLocation_1","parameters":[{"name":"merchantId","in":"header","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"post":{"tags":["gift-card-ach-controller"],"operationId":"retrieveLocationsByACHLocationIDs","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RetrieveAchLocationListResponse"}}}}}}},"/incentivio-giftcard-ach-service/achlocations/{locationId}/fundingaccount":{"put":{"tags":["gift-card-ach-controller"],"operationId":"updateFundingAccount","parameters":[{"name":"merchantId","in":"header","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"locationId","in":"path","required":true,"schema":{"type":"string","maxLength":49,"minLength":36}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFundingAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-client-domain/templates/{templateId}":{"get":{"tags":["client-email-template-controller"],"operationId":"getClientTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientTemplate"}}}}}},"put":{"tags":["client-email-template-controller"],"operationId":"updateClientTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateClientTemplateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientTemplate"}}}}}},"delete":{"tags":["client-email-template-controller"],"operationId":"deleteClientTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/incentivio-client-domain/clients/{clientid}/updaterole":{"put":{"tags":["role-module-permission-controller"],"operationId":"updateRole","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRoleRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/{clientid}/merchants/{merchantid}":{"put":{"tags":["client-merchant-controller"],"operationId":"updateMerchant_1","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Merchant-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMerchantRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["client-merchant-controller"],"operationId":"deleteMerchant_1","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Merchant-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/{clientid}/merchants/{merchantid}/stores/{storeid}":{"put":{"tags":["store-controller"],"operationId":"updateStore","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Merchant-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Location-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"storeid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStoreRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["store-controller"],"operationId":"deleteStore","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Merchant-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Location-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"storeid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/{clientid}/app-home-config/preview":{"put":{"tags":["app-home-config-controller"],"operationId":"updatePreview","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppHomeConfigDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/app-home-config/background/schedules/{scheduleId}":{"put":{"tags":["app-home-config-controller"],"operationId":"updateSchedule","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"scheduleId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackgroundScheduleRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppHomeConfigDTO"}}}}}},"delete":{"tags":["app-home-config-controller"],"operationId":"deleteSchedule","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"scheduleId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppHomeConfigDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/app-home-config/background/default":{"put":{"tags":["app-home-config-controller"],"operationId":"stageDefaultBackground","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultBackgroundRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppHomeConfigDTO"}}}}}},"delete":{"tags":["app-home-config-controller"],"operationId":"removeDefaultBackground","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppHomeConfigDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/admins/{adminid}":{"get":{"tags":["client-admin-controller"],"operationId":"findAdminUser","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"adminid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindAdminUserResponseDTO"}}}}}},"put":{"tags":["client-admin-controller"],"operationId":"updateAdminUser","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"adminid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveAdminUserRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["client-admin-controller"],"operationId":"deleteAdminUser","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"adminid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/email-config":{"get":{"tags":["client-configuration-controller"],"operationId":"getEmailConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailSettingBasicInfoResponseDTO"}}}}}},"put":{"tags":["client-configuration-controller"],"operationId":"updateEmailConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailSettingsCreateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailSettingBasicInfoResponseDTO"}}}}}}},"/incentivio-auto-tagger-service/segments/{segmentId}":{"get":{"tags":["segment-controller"],"operationId":"findSegment","parameters":[{"name":"segmentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SegmentResponseDTO"}}}}}},"put":{"tags":["segment-controller"],"operationId":"updateSegment","parameters":[{"name":"segmentId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["segment-controller"],"operationId":"deleteSegment","parameters":[{"name":"segmentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-auto-tagger-service/segments/{segmentId}/deactivate":{"put":{"tags":["segment-controller"],"operationId":"deactivateSegment","parameters":[{"name":"segmentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/clients/{clientid}/webappconfig":{"get":{"tags":["web-app-config-controller"],"operationId":"getWebAppConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"locationid","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebAppConfigDTO"}}}}}},"put":{"tags":["web-app-config-controller"],"operationId":"addOrUpdateWebAppConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebAppConfigDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebAppConfigDTO"}}}}}}},"/payments/transactions/refund":{"post":{"tags":["refunds-controller"],"operationId":"refundTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/ml/portal/client/model/train":{"post":{"tags":["ml-controller"],"operationId":"startTrainingProcess","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelTrainingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StartTrainingProcessResponse"}}}}}}},"/incentivio-user-domain/{userid}/unblock":{"post":{"tags":["user-controller"],"operationId":"unblockUserAccount","parameters":[{"name":"userid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountBlockRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountBlockResponseDTO"}}}}}}},"/incentivio-user-domain/{userid}/block":{"post":{"tags":["user-controller"],"operationId":"blockUserAccount","parameters":[{"name":"userid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountBlockRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountBlockResponseDTO"}}}}}}},"/incentivio-user-domain/users/{email}/requestpwreseturl":{"post":{"tags":["user-controller"],"operationId":"createPasswordResetToken","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-user-domain/users/unbounce/email":{"post":{"tags":["user-controller"],"operationId":"unBounceEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/incentivio-user-domain/customer-tags":{"get":{"tags":["customer-tag-and-rule-controller"],"operationId":"findPaginatedTagsAndRulesByClientId","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":300}},{"name":"title","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerTagAndRulesWithPagingForAdminDTO"}}}}}},"post":{"tags":["customer-tag-and-rule-controller"],"operationId":"createCustomerTag","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerTagRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagAndRuleDTO"}}}}}}},"/incentivio-reports/pulse/email/{reportType}/data/csv":{"post":{"tags":["email-pulse-controller"],"operationId":"getDataGridCsv","parameters":[{"name":"reportType","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailPulseDataCSVRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PulseCSVResponseDTO"}}}}}}},"/incentivio-reports/loyaltyreport/offers/trends/csv":{"post":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportOfferTrendsCSV","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoyaltyReportOfferTrendsCSVRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportCSVResponseDTO"}}}}}}},"/incentivio-reports/loyaltyreport/offers/performance/csv":{"post":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportOfferPerformanceCSV","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoyaltyReportOfferPerformanceCSVRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportCSVResponseDTO"}}}}}}},"/incentivio-reports/loyaltyreport/locations/trends/csv":{"post":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportLocationTrendsCSV","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoyaltyReportLocationTrendsCSVRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportCSVResponseDTO"}}}}}}},"/incentivio-reports/loyaltyreport/locations/performance/csv":{"post":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportLocationPerformanceCSV","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoyaltyReportLocationPerformanceCSVRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportCSVResponseDTO"}}}}}}},"/incentivio-reports/clients/offer-performance/export":{"post":{"tags":["offers-report-controller"],"operationId":"exportOfferPerformanceReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OfferPerformanceReportExportRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OfferPerformanceReportExportResponseDTO"}}}}}}},"/incentivio-reports/clients/customers/download-active":{"post":{"tags":["customer-report-controller"],"operationId":"downloadActiveCustomers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerReportDownloadRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerReportDownloadResponseDTO"}}}}}}},"/incentivio-payments/disputes/*/upload":{"post":{"tags":["payments-controller"],"operationId":"uploadFileToStripe","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-ordering-service/searchadminorders/receivedorders/5min":{"post":{"tags":["order-controller"],"operationId":"adminOrdersForLastFiveMins","parameters":[{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/orders/{orderid}/notifications":{"get":{"tags":["order-controller"],"operationId":"getOrderNotifications","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Client-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"Inc-Location-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"Inc-Admin-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"clientId","in":"header","required":false,"deprecated":true,"schema":{"type":"string"}},{"name":"LOCATION_ID","in":"header","required":false,"deprecated":true,"schema":{"type":"string"}},{"name":"ADMIN_ID","in":"header","required":false,"deprecated":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderNotificationMessageResponseDTO"}}}}}}},"post":{"tags":["order-controller"],"operationId":"sendOrderNotification","parameters":[{"name":"orderid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Client-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"Inc-Location-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"Inc-Admin-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"clientId","in":"header","required":false,"deprecated":true,"schema":{"type":"string"}},{"name":"LOCATION_ID","in":"header","required":false,"deprecated":true,"schema":{"type":"string"}},{"name":"ADMIN_ID","in":"header","required":false,"deprecated":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OrderNotificationRequestDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/OrderNotificationRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/orders/{orderId}/cancel":{"post":{"tags":["order-controller"],"operationId":"cancelOrder","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/orders/reversepayment":{"post":{"tags":["refunds-controller"],"operationId":"refundOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/merchants":{"post":{"tags":["merchant-controller"],"operationId":"addMerchant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMerchantRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateMerchantResponseDTO"}}}}}}},"/incentivio-ordering-service/locations":{"post":{"tags":["location-controller"],"operationId":"addLocation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLocationRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateLocationResponseDTO"}}}}}}},"/incentivio-ordering-service/items/list":{"post":{"tags":["item-controller"],"operationId":"listItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListItemResponseWithPagingForAdminDTO"}}}}}}},"/incentivio-ordering-service/items/delete":{"post":{"tags":["item-controller"],"operationId":"deleteItems","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/groups/list":{"post":{"tags":["group-controller"],"operationId":"listGroups","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSearchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListGroupResponseWithPagingForAdminDTO"}}}}}}},"/incentivio-ordering-service/groups/delete":{"post":{"tags":["group-controller"],"operationId":"deleteGroups","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/daily-sales-export":{"post":{"tags":["order-controller"],"operationId":"exportDailySalesReportForAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DailySalesReportExportRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailySalesReportExportResponseDTO"}}}}}}},"/incentivio-ordering-service/clients/{clientid}/presetorder":{"get":{"tags":["preset-order-controller"],"operationId":"listPresetOrderConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"code"}},{"name":"code","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListPresetOrderResponseWithPagingForAdminDTO"}}}}}},"post":{"tags":["preset-order-controller"],"operationId":"createPresetOrderConfig","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePresetOrderConfigRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetPresetOrderConfigResponseDTO"}}}}}}},"/incentivio-ordering-service/catalogs/list":{"post":{"tags":["order-controller"],"operationId":"listCatalogsByClientIdAndStoreIdsForAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogSearchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListCatalogResponseWithPagingForAdminDTO"}}}}}}},"/incentivio-ordering-service/catalogs/delete":{"post":{"tags":["order-controller"],"operationId":"deleteCatalogs","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/cachecatalogs_OLD":{"post":{"tags":["order-controller"],"operationId":"addCacheCatalog_OLD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCacheCatalogRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListCatalogAdminDTO"}}}}}}}},"/incentivio-ordering-service/cachecatalogs":{"post":{"tags":["order-controller"],"operationId":"cacheCatalog","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CreateCacheCatalogRequestDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateCacheCatalogRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogCacheResponse"}}}}}}},"/incentivio-offers-domain/redeemofferbyid":{"post":{"tags":["offers-controller"],"operationId":"redeemById","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/RedeemOfferAPIRequestDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/RedeemOfferAPIRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-offers-domain/clients/{clientid}/distributesyncactivityoffers":{"post":{"tags":["offer-distribution-controller"],"operationId":"distributeSynchronousActivityOffer","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityOfferListRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActivityOfferListDTO"}}}}}}},"/incentivio-menu-service/search":{"post":{"tags":["menu-search-pass-through-controller"],"operationId":"search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchTargetingParams"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSearchResponse"}}}}}}},"/incentivio-menu-service/runallimports":{"post":{"tags":["menu-import-controller"],"operationId":"runAllImports","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-menu-service/locations/{locationid}/runfullimport":{"post":{"tags":["menu-import-controller"],"operationId":"runFullImport","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-menu-service/bulkimageuploads":{"get":{"tags":["bulk-image-upload-controller"],"operationId":"search_1","parameters":[{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":10}},{"name":"dateCreatedGte","in":"query","required":false,"schema":{"type":"string"}},{"name":"dateCreatedLt","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","maxLength":255,"minLength":0}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"uploadId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkImageUploadSearchResponse"}}}}}},"post":{"tags":["bulk-image-upload-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkImageUploadCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkImageUploadCreateResponse"}}}}}}},"/incentivio-menu-service/bulkimageuploads/{id}/process":{"post":{"tags":["bulk-image-upload-controller"],"operationId":"process","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","maxLength":24,"minLength":24}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-media/presignedurls/client":{"post":{"tags":["media-file-controller"],"operationId":"presignedUrlsClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignedUrlsClientRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignedUrlsClientResponse"}}}}}}},"/incentivio-media/clients/*/media":{"post":{"tags":["file-controller"],"operationId":"uploadFile","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/incentivio-giftcard-service/giftcard/location-config/update":{"post":{"tags":["gift-card-client-onboard-controller"],"operationId":"updateGiftCardLocationConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardLocationConfigUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-giftcard-service/giftcard/client-config/update":{"post":{"tags":["gift-card-client-onboard-controller"],"operationId":"updateGiftCardClientConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardClientConfigUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-giftcard-service/cards/import":{"post":{"tags":["gift-card-controller"],"operationId":"importGiftCards","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ImportCardRequest"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ImportCardRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/ImportCardRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImportCardResponse"}}}}}}},"/incentivio-giftcard-service/cards/import/{batchId}/remove":{"post":{"tags":["gift-card-controller"],"operationId":"removeGiftCards","parameters":[{"name":"batchId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RemoveCardResponse"}}}}}}},"/incentivio-giftcard-service/card":{"post":{"tags":["gift-card-controller"],"operationId":"createCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCardResponse"}}}}}}},"/incentivio-giftcard-service/card/reset-balance":{"post":{"tags":["gift-card-controller"],"operationId":"resetBalanceGiftCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionResponse"}}}}}}},"/incentivio-giftcard-service/card/resendemail":{"post":{"tags":["gift-card-controller"],"operationId":"resendEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendEmailRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResendEmailResponse"}}}}}}},"/incentivio-giftcard-service/card/remove-value":{"post":{"tags":["gift-card-controller"],"operationId":"removeValueFromGiftCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionResponse"}}}}}}},"/incentivio-giftcard-service/card/deactivate":{"post":{"tags":["gift-card-controller"],"operationId":"deactivateGiftCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionResponse"}}}}}}},"/incentivio-giftcard-service/card/admin-add-value":{"post":{"tags":["gift-card-controller"],"operationId":"addValueToGiftCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionResponse"}}}}}}},"/incentivio-giftcard-service/card/activate":{"post":{"tags":["gift-card-controller"],"operationId":"activateGiftCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GiftCardTransactionResponse"}}}}}}},"/incentivio-giftcard-ach-service/{locationId}/retry-verification":{"post":{"tags":["gift-card-ach-controller"],"operationId":"retryVerification","parameters":[{"name":"locationId","in":"path","required":true,"schema":{"type":"string","maxLength":49,"minLength":36}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetryCustomerVerificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-giftcard-ach-service/transfers/{transferid}/cancel":{"post":{"tags":["fund-transfer-controller"],"operationId":"cancelTransfer","parameters":[{"name":"transferid","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":36}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-giftcard-ach-service/fundtransfers/config":{"get":{"tags":["fund-transfer-controller"],"operationId":"retrieveFundTransferConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FundTransferConfigResponse"}}}}},"deprecated":true},"post":{"tags":["fund-transfer-controller"],"operationId":"createOrUpdateFundTransferConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateFundTransferConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FundTransferConfigResponse"}}}}},"deprecated":true}},"/incentivio-giftcard-ach-service/client-token":{"post":{"tags":["gift-card-ach-controller"],"operationId":"retrieveClientToken","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RetrieveClientTokenResponse"}}}}}}},"/incentivio-giftcard-ach-service/achlocations/{locationId}/status":{"post":{"tags":["gift-card-ach-controller"],"operationId":"updateLocationStatus","parameters":[{"name":"locationId","in":"path","required":true,"schema":{"type":"string","maxLength":49,"minLength":36}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocationStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-giftcard-ach-service/achlocations/{locationId}/fundingaccount/{fundingAccountId}/verifymicrodeposits":{"post":{"tags":["gift-card-ach-controller"],"operationId":"verifyMicroDeposits","parameters":[{"name":"merchantId","in":"header","required":true,"schema":{"type":"string","maxLength":36,"minLength":1}},{"name":"locationId","in":"path","required":true,"schema":{"type":"string","maxLength":49,"minLength":36}},{"name":"fundingAccountId","in":"path","required":true,"schema":{"type":"string","maxLength":36,"minLength":36}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyMicroDepositsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-giftcard-ach-service/achlocations/copy-customer-and-account":{"post":{"tags":["gift-card-ach-controller"],"operationId":"copyCustomerAndAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyCustomerAndAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/incentivio-conpay-spreedly/payment-gateway/create":{"post":{"tags":["spreedly-payment-gateway-controller"],"operationId":"createPaymentGateway","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePaymentGatewayRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatePaymentGatewayResponse"}}}}}}},"/incentivio-conpay-spreedly/environment/create":{"post":{"tags":["spreedly-payment-gateway-controller"],"operationId":"createEnvironmentRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEnvironmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateEnvironmentResponse"}}}}}}},"/incentivio-client-domain/templates":{"get":{"tags":["client-email-template-controller"],"operationId":"searchClientTemplates","parameters":[{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"emailTemplateType","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ClientEmailTemplateType"}},{"name":"reusable","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientTemplatesResponseDTO"}}}}}},"post":{"tags":["client-email-template-controller"],"operationId":"createClientTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClientTemplateRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientTemplate"}}}}}}},"/incentivio-client-domain/reach/display":{"post":{"tags":["store-controller"],"operationId":"readReachDisplayInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReachStringDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-client-domain/incadminpasswordreset":{"post":{"tags":["client-admin-controller"],"operationId":"incentivioAdminPasswordReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalResetPasswordRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/{clientid}/merchants":{"get":{"tags":["client-merchant-controller"],"operationId":"searchMerchant","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"title"}},{"name":"sortdirection","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Direction","default":"ASC"}},{"name":"title","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindMerchantsResponseDTO"}}}}}},"post":{"tags":["client-merchant-controller"],"operationId":"createMerchant","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMerchantRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateMerchantResponseDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/merchants/{merchantid}/stores":{"get":{"tags":["store-controller"],"operationId":"searchStoreByMerchant","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Merchant-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"title"}},{"name":"sortdirection","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Direction","default":"ASC"}},{"name":"title","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindStoresResponseDTO"}}}}}},"post":{"tags":["store-controller"],"operationId":"createStore","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"Inc-Merchant-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStoreRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateStoreResponseDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/createrole":{"post":{"tags":["role-module-permission-controller"],"operationId":"createRole","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoleRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateRoleResponseDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/app-home-config/background/schedules":{"post":{"tags":["app-home-config-controller"],"operationId":"addSchedule","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackgroundScheduleRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppHomeConfigDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/app-home-config/background/default/publish":{"post":{"tags":["app-home-config-controller"],"operationId":"publishDefaultBackground","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppHomeConfigDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/admins":{"get":{"tags":["client-admin-controller"],"operationId":"searchAdminUser","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"firstName"}},{"name":"sortdirection","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Direction","default":"ASC"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindAdminResponseDTO"}}}}}},"post":{"tags":["client-admin-controller"],"operationId":"createAdminUser","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveAdminUserRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateAdminUserResponseDTO"}}}}}}},"/incentivio-client-domain/clients/{clientid}/admins/{adminid}/verify":{"post":{"tags":["client-admin-controller"],"operationId":"verifyAdminUserAccount","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"adminid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/{clientid}/admins/{adminid}/updatepassword":{"post":{"tags":["client-admin-controller"],"operationId":"updatePassword","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"adminid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePasswordRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/{clientid}/admins/{adminid}/resetpassword":{"post":{"tags":["client-admin-controller"],"operationId":"resetPassword1","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"adminid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetAdminPasswordRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/{clientid}/admins/requestpasswordreset":{"post":{"tags":["client-admin-controller"],"operationId":"requestPasswordReset","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/RequestPasswordResetRequestDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/RequestPasswordResetRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-client-domain/clients/{clientid}/admins/login":{"post":{"tags":["client-admin-controller"],"operationId":"adminUserLogin","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminLoginRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminLoginResponseDTO"}}}}}}},"/incentivio-client-domain/clients/email-config/verify-domain":{"post":{"tags":["client-configuration-controller"],"operationId":"verifyDomain","parameters":[{"name":"domain-id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainValidateResDto"}}}}}}},"/incentivio-client-domain/clients/email-config/client-domain":{"post":{"tags":["client-configuration-controller"],"operationId":"createEmailDomain","parameters":[{"name":"domain-name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailSettingBasicInfoResponseDTO"}}}}}}},"/incentivio-auto-tagger-service/segments":{"get":{"tags":["segment-controller"],"operationId":"findAllSegments","parameters":[{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"segmentName"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"title","in":"query","required":false,"schema":{"type":"string"}},{"name":"expired","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindSegmentsResponseDTO"}}}}}},"post":{"tags":["segment-controller"],"operationId":"createSegment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateSegmentResponseDTO"}}}}}}},"/fail-import":{"post":{"tags":["menu-import-controller"],"operationId":"markMenuImportFailed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarkMenuImportFailedRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/dynamicEnvs":{"get":{"tags":["dynamic-env-controller"],"operationId":"getDynamicEnvList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DynamicEnvDTO"}}}}}}},"post":{"tags":["dynamic-env-controller"],"operationId":"saveDynamicEnv","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicEnvDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DynamicEnvDTO"}}}}}},"delete":{"tags":["dynamic-env-controller"],"operationId":"deleteDynamicEnv","parameters":[{"name":"environmentName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/clients/{clientId}/requestmenuimport/{locationId}":{"post":{"tags":["menu-import-controller"],"operationId":"requestMenuImport","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}},{"name":"locationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConnectorImportedMenuResponse"}}}}}}},"/incentivio-user-domain/clients/{clientid}/useraccounts/{userid}":{"get":{"tags":["user-controller"],"operationId":"findUserAccount","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"userid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindUserAccountResponseDTO"}}}}}},"patch":{"tags":["user-controller"],"operationId":"patchUserAccount","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"userid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAccountPatchRequestDto"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/orders/{orderId}":{"patch":{"tags":["order-controller"],"operationId":"patchOrder","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatchRequestDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/locations/{locationid}/orderingsettings":{"patch":{"tags":["location-controller"],"operationId":"patchLocationOrderingSettingsForAdmin","parameters":[{"name":"locationid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchLocationOrderSettingsRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-ordering-service/item/{itemId}":{"patch":{"tags":["item-controller"],"operationId":"patchItem","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"string"}},{"name":"storeId","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatchRequestDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/incentivio-giftcard-ach-service/fund-transfer-config/pool-account":{"patch":{"tags":["fund-transfer-config-controller"],"operationId":"updatePoolAccountFundTransferConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePoolAccountFundTransferConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FundTransferConfigResponse"}}}}}}},"/incentivio-giftcard-ach-service/fund-transfer-config/locations":{"patch":{"tags":["fund-transfer-config-controller"],"operationId":"updateLocationFundTransferConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLocationFundTransferConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FundTransferConfigResponse"}}}}}}},"/view/externallocation/catalogs":{"get":{"tags":["menu-import-controller"],"operationId":"viewExternalLocationCatalogs","parameters":[{"name":"clientid","in":"query","required":true,"schema":{"type":"string"}},{"name":"incentlocationid","in":"query","required":true,"schema":{"type":"string"}},{"name":"extlocationid","in":"query","required":true,"schema":{"type":"string"}},{"name":"connectorgatewayname","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConnectorViewExternalLocationCatalogsResponseDTO"}}}}}}},"/toastsettings/clearcache":{"get":{"tags":["spreedly-connector-controller"],"operationId":"clearToastSettingsCache","parameters":[{"name":"clientid","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/incentivio-wallet/scan-to-pay/sales-summary":{"get":{"tags":["wallet-controller"],"operationId":"getScanToPaySalesSummary","parameters":[{"name":"location","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScanToPaySalesSummaryResponse"}}}}}}},"/incentivio-user-domain/useraccounts/{userid}/account-change-logs":{"get":{"tags":["user-controller"],"operationId":"findAllChangeLogByUseCases","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string"}},{"name":"userid","in":"path","required":true,"schema":{"type":"string"}},{"name":"usecase","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAccountChangeLogResponseDTO"}}}}}}}},"/incentivio-user-domain/tags-and-rules":{"get":{"tags":["customer-tag-and-rule-controller"],"operationId":"findTagsAndRulesByClientId","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagsAndRulesResponseDTO"}}}}}}},"/incentivio-user-domain/customer-tags-types":{"get":{"tags":["customer-tag-and-rule-controller"],"operationId":"findCustomerTagTypesByClientId","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerTagDataType"}}}}}}}},"/incentivio-user-domain/clients/{clientid}/users/filter":{"get":{"tags":["user-controller"],"operationId":"findUserAccountsByFilterMethod","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1000}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"firstName"}},{"name":"verifiedonly","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"sortdirection","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Direction","default":"ASC"}},{"name":"filtermethod","in":"query","required":false,"schema":{"type":"string"}},{"name":"firstName","in":"query","required":false,"schema":{"type":"string"}},{"name":"lastName","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"phoneNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"isBlocked","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindUserResponseDTO"}}}}}}},"/incentivio-user-domain/clients/{clientid}/users/downloadcsv":{"get":{"tags":["user-controller"],"operationId":"downloadUsersCSV","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/incentivio-user-domain/clients/{clientid}/clientconfig/reach":{"get":{"tags":["client-config-controller"],"operationId":"findClientConfigReachStatus","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/incentivio-transactions/clients/{clientid}/transactions":{"get":{"tags":["transaction-controller"],"operationId":"findTransactions","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string"}},{"name":"userid","in":"query","required":false,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":false,"schema":{"type":"string"}},{"name":"enddate","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortby","in":"query","required":false,"schema":{"type":"string","default":"txDateTime"}},{"name":"sortdirection","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Direction","default":"DESC"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindTransactionsResponseDTO"}}}}}}},"/incentivio-transactions/clients/{clientid}/transactions/{transactionid}":{"get":{"tags":["transaction-controller"],"operationId":"getTransaction","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"transactionid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionDTO"}}}}}}},"/incentivio-reports/pulse/email/{reportType}/opened":{"get":{"tags":["email-pulse-controller"],"operationId":"getOpened","parameters":[{"name":"reportType","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PulseDateRange"}},{"name":"offerIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"campaignIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"messageIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"emailType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PulsePieGraph"}}}}}}},"/incentivio-reports/pulse/email/{reportType}/data":{"get":{"tags":["email-pulse-controller"],"operationId":"getDataGrid","parameters":[{"name":"reportType","in":"path","required":true,"schema":{"type":"string"}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PulseDateRange"}},{"name":"offerIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"campaignIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"messageIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"emailType","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagination","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PaginationRequest"}},{"name":"sorting","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SortingRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PulseDataGridWithTotalEmailDataDTO"}}}}}}},"/incentivio-reports/pulse/email/{reportType}/cards":{"get":{"tags":["email-pulse-controller"],"operationId":"getEmailPulseCards","parameters":[{"name":"reportType","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PulseDateRange"}},{"name":"offerIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"campaignIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"messageIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"emailType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailCardsDTO"}}}}}}},"/incentivio-reports/pulse/email/{reportType}/bounced":{"get":{"tags":["email-pulse-controller"],"operationId":"getBounced","parameters":[{"name":"reportType","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PulseDateRange"}},{"name":"offerIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"campaignIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"messageIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"emailType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PulsePieGraph"}}}}}}},"/incentivio-reports/pulse/email/overview/trends":{"get":{"tags":["email-pulse-controller"],"operationId":"getOverviewTrends","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PulseDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PulseTimeSeries"}}}}}}},"/incentivio-reports/pulse/email/offers":{"get":{"tags":["email-pulse-controller"],"operationId":"getOffers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailPulseOfferDTO"}}}}}}}},"/incentivio-reports/pulse/email/messages":{"get":{"tags":["email-pulse-controller"],"operationId":"getMessages","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailPulseMessageDTO"}}}}}}}},"/incentivio-reports/menuintelligence/locations":{"get":{"tags":["menu-intelligence-controller"],"operationId":"getMenuIntelligenceLocations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuIntelligenceLocation"}}}}}}},"/incentivio-reports/menuintelligence/itemMetrics":{"get":{"tags":["menu-intelligence-controller"],"operationId":"getMenuIntelligenceItemMetrics","parameters":[{"name":"groups","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"groupType","in":"query","required":false,"schema":{"type":"string"}},{"name":"location","in":"query","required":false,"schema":{"type":"string"}},{"name":"searchInput","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"itemScore"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"DESC"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuIntelligenceItemMetricsResponseDTO"}}}}}}},"/incentivio-reports/menuintelligence/itemMetrics/export":{"get":{"tags":["menu-intelligence-controller"],"operationId":"getMenuIntelligenceItemMetricsCSVString","parameters":[{"name":"groups","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"groupType","in":"query","required":false,"schema":{"type":"string"}},{"name":"location","in":"query","required":false,"schema":{"type":"string"}},{"name":"searchInput","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"itemScore"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"DESC"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/incentivio-reports/menuintelligence/groups":{"get":{"tags":["menu-intelligence-controller"],"operationId":"getMenuIntelligenceGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuIntelligenceGroup"}}}}}}},"/incentivio-reports/loyaltyreport/offers/trends":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportOffersTrendsPage","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}},{"name":"paginationRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportPaginationRequest"}},{"name":"datatype","in":"query","required":true,"schema":{"type":"string"}},{"name":"granularity","in":"query","required":false,"schema":{"type":"string"}},{"name":"offerIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offertype","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportOfferTrendsResponse"}}}}}}},"/incentivio-reports/loyaltyreport/offers/performance/summary":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportOfferPerformanceSummary","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}},{"name":"offerIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offertype","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportPerformanceDTO"}}}}}}},"/incentivio-reports/loyaltyreport/offers/performance/data":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportOfferPerformanceData","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}},{"name":"paginationRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportPaginationRequest"}},{"name":"sortingDto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SortingDto"}},{"name":"offerIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offertype","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportDataGridOffersPageDTO"}}}}}}},"/incentivio-reports/loyaltyreport/locations/trends":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportLocationsTrendsPage","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}},{"name":"paginationRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportPaginationRequest"}},{"name":"datatype","in":"query","required":true,"schema":{"type":"string"}},{"name":"granularity","in":"query","required":false,"schema":{"type":"string"}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportLocationTrendsResponse"}}}}}}},"/incentivio-reports/loyaltyreport/locations/performance/summary":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportLocationPerformanceSummary","parameters":[{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportPerformanceDTO"}}}}}}},"/incentivio-reports/loyaltyreport/locations/performance/data":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportLocationPerformancePage","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}},{"name":"paginationRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportPaginationRequest"}},{"name":"sortingDto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SortingDto"}},{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportDataGridLocationsPageDTO"}}}}}}},"/incentivio-reports/loyaltyreport/franchise/summary":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportFranchiseSummary","parameters":[{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportFranchiseSummaryDTO"}}}}}}},"/incentivio-reports/loyaltyreport/franchise/loyaltysales":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportLoyaltySalesForFranchise","parameters":[{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportTimeSeriesDTO"}}}}}}},"/incentivio-reports/loyaltyreport/franchise/activemembers":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportSignUpTimeseriesForFranchise","parameters":[{"name":"storeIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportTimeSeriesDTO"}}}}}}},"/incentivio-reports/loyaltyreport/brand/summary":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportSummaryForBrand","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportBrandOverallSummaryDTO"}}}}}}},"/incentivio-reports/loyaltyreport/brand/signup/timeseries":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportSignUpTimeseriesForBrand","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportTimeSeriesDTO"}}}}}}},"/incentivio-reports/loyaltyreport/brand/signup/aggregate":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportSignUpsForBrand","parameters":[{"name":"Inc-Client-Id","in":"header","required":true,"schema":{"type":"string","minLength":1}},{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportPieGraphDTO"}}}}}}},"/incentivio-reports/loyaltyreport/brand/pointssummary":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportPointsSummaryForBrand","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportBrandPointsSummaryDTO"}}}}}}},"/incentivio-reports/loyaltyreport/brand/orders":{"get":{"tags":["loyalty-report-controller"],"operationId":"getLoyaltyReportOrdersForBrand","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoyaltyReportDateRange"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoyaltyReportPieGraphDTO"}}}}}}},"/incentivio-reports/jobs/status":{"get":{"tags":["job-status-controller"],"operationId":"getCurrentJobStatuses","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobStatusResponse"}}}}}}},"/incentivio-reports/guest-journey-analysis/export":{"get":{"tags":["guest-journey-report-controller"],"operationId":"exportGuestJourneyAnalysis","parameters":[{"name":"startDate","in":"query","required":true,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GuestJourneyReportResponseDTO"}}}}}}},"/incentivio-reports/clients/{clientid}/survey":{"get":{"tags":["report-controller"],"operationId":"getSurveyReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"surveyId","in":"query","required":false,"schema":{"type":"string"}},{"name":"download","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/incentivio-reports/clients/{clientid}/salesbyordertype":{"get":{"tags":["report-controller"],"operationId":"getSalesByOrderTypeReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string","default":"*"}},{"name":"storeids","in":"query","required":false,"schema":{"type":"array","default":["*"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesByOrderTypeReportDTO"}}}}}}},"/incentivio-reports/clients/{clientid}/salesbylocation":{"get":{"tags":["report-controller"],"operationId":"getSalesByLocationReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string","default":"*"}},{"name":"storeids","in":"query","required":false,"schema":{"type":"array","default":["*"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SalesByLocationAndTimeReportDTO"}}}}}}}},"/incentivio-reports/clients/{clientid}/salesbychannelovertime":{"get":{"tags":["report-controller"],"operationId":"getSalesByChannelOverTimeReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string","default":"*"}},{"name":"storeids","in":"query","required":false,"schema":{"type":"array","default":["*"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SalesByChannelOverTimeDTO"}}}}}}}},"/incentivio-reports/clients/{clientid}/salesbychannel":{"get":{"tags":["report-controller"],"operationId":"getSalesByChannelReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string","default":"*"}},{"name":"storeids","in":"query","required":false,"schema":{"type":"array","default":["*"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesByChannelReportDTO"}}}}}}},"/incentivio-reports/clients/{clientid}/ordersbysigninstatus":{"get":{"tags":["report-controller"],"operationId":"getOrdersBySignInStatusReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string","default":"*"}},{"name":"storeids","in":"query","required":false,"schema":{"type":"array","default":["*"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrdersBySignInStatusReportDTO"}}}}}}},"/incentivio-reports/clients/{clientid}/ordersbyordertype":{"get":{"tags":["report-controller"],"operationId":"getOrdersByOrderTypeReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string","default":"*"}},{"name":"storeids","in":"query","required":false,"schema":{"type":"array","default":["*"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrdersByOrderTypeReportDTO"}}}}}}},"/incentivio-reports/clients/{clientid}/ordersbylocation":{"get":{"tags":["report-controller"],"operationId":"getOrdersByLocationReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string","default":"*"}},{"name":"storeids","in":"query","required":false,"schema":{"type":"array","default":["*"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrdersByLocationAndTimeReportDTO"}}}}}}}},"/incentivio-reports/clients/{clientid}/ordersbychannelovertime":{"get":{"tags":["report-controller"],"operationId":"getOrdersByChannelOverTimeReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"enddate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"merchantid","in":"query","required":false,"schema":{"type":"string","default":"*"}},{"name":"storeids","in":"query","required":false,"schema":{"type":"array","default":["*"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrdersByChannelOverTimeDTO"}}}}}}}},"/incentivio-reports/clients/{clientid}/ordersbychannel":{"get":{"tags":["report-controller"],"operationId":"getOrdersByChannelReport","parameters":[{"name":"clientid","in":"path","required":true,"schema":{"type":"string"}},{"name":"startdate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},
[...]
